@import "thems.less";
@import "style.less";

* {
  margin: 0;
  padding: 0;
}
body {
  font-size: 14px;
  font-style: normal;
  overflow: hidden;
}
a {
  text-decoration: none;
  transition: background 0.5s linear;
  -webkit-transition: background 0.5s linear;
  -moz-transition: background 0.5s linear;
  -o-transition: background 0.5s linear;
  cursor: pointer;
}
a:hover {
  transition: background 0.5s linear;
  -webkit-transition: background 0.5s linear;
  -moz-transition: background 0.5s linear;
  -o-transition: background 0.5s linear;
  cursor: pointer;
}
em {
  font-style: normal;
}
i {
  font-style: normal;
}
ul {
  list-style: none;
  margin-bottom: 0;
}
ol {
  list-style: none;
}
li {
  list-style: none;
}
img {
  border: none;
  vertical-align: middle;
}
input {
  outline: none;
  border: none;
  background: none;
}
select {
  outline: none;
  border: none;
  background: none;
}
textarea {
  outline: none;
  border: none;
  background: none;
  resize: none;
}
.fl {
  float: left;
}
.fr {
  float: right;
}
.clear {
  clear: both;
  height: 0px;
  width: 100%;
  overflow: hidden;
}

#root{
  width: 100%;
  height: 100%;
}

@color:#fff;
@rightBgColor:#E9EEF1;

/*ghost*/
@topBarColorGhost:rgb(239,243,246);
@topBarFontColorGhost:rgb(83,83,83);

/*thems*/
@themsColor:rgb(88,104,217);
@thems2Color:rgb(70,212,186);

@liCurrentColor:rgb(230,231,234);

/*themsPurpleGhost*/
@logoColorPH:rgb(42,50,89);
@leftBarColorPH:rgb(31,36,56);

/*themsGreen , themsGreenGhost*/
@logoColorG:#306174;
@leftBarColorG:#36908f;
@topBarColorG:rgb(70,212,186);

/*themsPink*/
@logoColorP:rgb(250,155,193);
@leftBarColorP:rgb(245,245,247);
@leftBarFontColorP:@topBarFontColorGhost;
@rightBgColorP:rgb(229,234,237);

/*thems*/
.lee-admin {
  width: 100%;
  height: 100%;
  .thems{
    width: 100%;
    height: 100%;
    display: flex;
    flex-flow: row;
  }
  .themsPurple {
    .leeThem();
  }
/*  .themsPurpleGHOST {
    .leeThem(
            @logoColorPH, @leftBarColorPH,#fff,
            @topBarColorGhost, @topBarFontColorGhost,@rightBgColor
            @themsColor,@color
    );
  }
  .themsGreen {
    .leeThem(
            @logoColorG, @leftBarColorG,#fff,
            @topBarColorG, @topBarFontColor,@rightBgColor,
            @themsColor:#56b9c5, @rightBgColorB
    );
  }
  .themsGreenGHOST {
    .leeThem(
            @logoColorG, @leftBarColorG,#fff,
            @topBarColorGhost, @topBarFontColorGhost,@rightBgColor,
            @themsColor:#66c8d4, @rightBgColorB
    );
  }
  .themsPink {
    .leeThem(
            @logoColorP, @leftBarColorP,#fff,
            @logoColorP, @color,@leftBarFontColorP,
            @logoColorP, @rightBgColorP
    );
  }*/

  /*themsBlack*/
  @logoBlack:rgb(42,50,89);
  @leftBarBlack:rgb(31,36,56);

  @liFontBlack:#fff;
  @liActiveBgBlack:rgb(36,43,73);
  @liActiveBorderBlack:rgb(91,107,227);

  @topBarBlack:@leftBarBlack;
  @topBarFontBlack:#fff;

  @rightBgBlack:rgb(42,47,66);
  @themsBlack:#ddd;
  @fontBlack:#fff;

  .themsBlack {
    .leeThem(
            @logoBlack, @leftBarBlack,
            @liFontBlack,@liActiveBgBlack,@liActiveBorderBlack,
            @topBarBlack,@topBarFontBlack,
            @rightBgBlack,@themsBlack, @fontBlack
    );
  }

  /* themsSVGLF */
  @logoSVG:#dcdaeb;
  @leftBarSVG:rgb(158,186,217);

  @liActiveBgSVG:rgba(213, 213, 232,.3);
  @liActiveBorderSVG:rgba(219,99,113,.6);

  @topBarFontSVG:rgb(158,186,217);

  @fontW:#fff;
  @transparent:transparent;
  /* 蓝色 */
  .themsSVGL {
   .leeThem(
            #5f89bd, #6fa2cc,
            @fontW,rgba(255,255,255,.5),@fontW,
            #5f89bd,@topBarFontSVG,
            @transparent,#5f89bd, @fontW
    )
  }
  /* 蓝粉色 */
  .themsSVGLF {
    .leeThem(
            #dcdaeb, rgb(158,186,217),
            @fontW,rgba(213, 213, 232,.3),rgb(220, 218, 235),
            rgb(158,186,217),rgb(158,186,217),
            @transparent,#d2d4e8, @fontW
    )
  }
  /* 蓝粉色H */
  .themsSVGLFH{
    .leeThem(
            #5f89bd, #6fa2cc,
            @fontW,rgba(255,255,255,.5),@fontW,
            #5f89bd,@topBarFontSVG,
            @transparent,#5f89bd, @fontW
    )
  }
  /* 蓝粉紫色 */
  .themsSVGLFZ {
    .leeThem(
            #9992c5, #fff,
            @fontW,rgba(213, 213, 232,.3),#946fa7,
            #9992c5,@fontW,
            @transparent,#946fa7, @fontW
    )
  }
  /* 粉色 */
  .themsSVGF {
    .leeThem(
            #cc94c7, @fontW,
            @fontW,rgba(255,255,255,.5),#cc94c7,
            #cc94c7,@fontW,
            @transparent,#cc94c7, @fontW
    )
  }
  /* 粉紫色 */
  .themsSVGFZ {
    .leeThem(
            #a689c4, #6fa2cc,
            @fontW,rgba(255,255,255,.5),#fff,
            #a689c4,#fff,
            @transparent,#a689c4, @fontW
    )
  }
  /* 橘粉色 */
  .themsSVGGF {
    .leeThem(
            #faa0b4, @fontW,
            @fontW,rgba(255,255,255,.5),#faa0b4,
            #faa0b4,@fontW,
            @transparent,#fdd9d5, @fontW
    )
  }
}

/*toggle*/
@leftBarInW:70px;
.lee-admin{
  .lee-in{
    background: #000;
    .lee-leftBar{
      width: @leftBarInW;
      .lee-leftBar-bot{
        .lee-leftBar-list{
          ul{
            li{
              a{
                &>span{
                  display: none;
                }
              }
            }
            .libar{
              left: 68px;
            }
          }
        }
      }
    }
    .lee-rightBar{
      width: calc(100% - @leftBarInW);
    }
  }
}

/*lee-skin*/
.lee-skin{
  width: 350px;
  background: #fff;
  padding: 8px 0 8px 10px;
  li{
    width: 35px;
    height: 35px;
    line-height: 35px;
    padding: 0;
    margin: 10px;
    text-align: center;
    display: inline-block;
    color: #fff;
    .border-radius(50%);
    cursor: pointer;
    span{
      font-size: @fontSize;
    }
  }
}

/* scroll */
::-webkit-scrollbar-track-piece {
  background-color:#f8f8f8;
}
::-webkit-scrollbar {
  width:7px;
  height:7px;
}
::-webkit-scrollbar-thumb {
  background-color:#dddddd;
  background-clip:padding-box;
  min-height:25px;
}
::-webkit-scrollbar-thumb:hover {
  background-color:#bbb;
}

/*switch*/
.switch {
  position: relative;
}
.switch input {
  height: 100%;
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
  z-index: 100;
  cursor: pointer;
}
.switch label {
  height: 110px;
  width: 220px;
  background-color: #39315a;
  border-radius: 100px;
  display: block;
  box-shadow: inset 0 0 20px rgba(0,0,0,0.2), inset 0 0 5px -2px rgba(0,0,0,0.4);
}
.switch label .bulb {
  height: 90px;
  width: 90px;
  background-color: #4a426b;
  border-radius: 50%;
  position: relative;
  top: 10px;
  left: 10px;
  display: block;
  transition: 0.7s;
  box-shadow: inset 0 0 1px 3px #4a426b, inset 0 0 6px 8px #423963, 0 20px 30px -10px rgba(0,0,0,0.4);
}
.switch label .bulb .bulb-center {
  position: absolute;
  display: block;
  height: 36px;
  width: 36px;
  background-color: #5a527b;
  border-radius: 50%;
  top: 50%;
  left: 50%;
  transition: 0.7s;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  box-shadow: inset 0 0 0 4px #635a84;
}
.switch label .bulb .bulb-center:after {
  content: "";
  display: block;
  height: 14px;
  width: 14px;
  background-color: #7b7394;
  border-radius: 50%;
  position: absolute;
  transition: 0.7s;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  box-shadow: 0 0 2px 4px #524a73;
}
.switch label .bulb .filament-1,
.switch label .bulb .filament-2 {
  position: absolute;
  display: block;
  height: 35px;
  width: 35px;
  border-radius: 50%;
  top: 50%;
  left: 50%;
  overflow: hidden;
  -webkit-transform: translate(-50%, -50%) rotate(-45deg);
  transform: translate(-50%, -50%) rotate(-45deg);
}
.switch label .bulb .filament-1:after,
.switch label .bulb .filament-2:after,
.switch label .bulb .filament-1:before,
.switch label .bulb .filament-2:before {
  content: "";
  display: block;
  height: 6px;
  width: 17px;
  border-radius: 50%;
  border: 2px solid #4a426b;
  position: absolute;
  transition: 0.7s;
  top: -4px;
  left: -2px;
  -webkit-transform: rotate(-10deg);
  transform: rotate(-10deg);
}
.switch label .bulb .filament-1:before,
.switch label .bulb .filament-2:before {
  left: 15px;
  -webkit-transform: rotate(10deg);
  transform: rotate(10deg);
}
.switch label .bulb .filament-2 {
  -webkit-transform: translate(-50%, -50%) rotate(45deg) !important;
  transform: translate(-50%, -50%) rotate(45deg) !important;
}
.reflections {
  height: 100%;
  width: 100%;
  display: block;
  border-radius: 50%;
  overflow: hidden;
  position: absolute;
  z-index: 90;
  -webkit-perspective: 70px;
  perspective: 70px;
}
.reflections span {
  height: 80px;
  width: 80px;
  border-radius: 50%;
  background-image: linear-gradient(-135deg, transparent 10%, rgba(255,255,255,0.3));
  position: absolute;
  left: -40px;
  bottom: -45px;
}
.reflections span:after {
  content: "";
  display: block;
  height: 35px;
  width: 20px;
  position: absolute;
  top: -36px;
  right: -40px;
  border-radius: 50%;
  box-shadow: 4px -2px 0 -3px rgba(255,255,255,0.4);
  -webkit-filter: blur(1px);
  filter: blur(1px);
  -webkit-transform: rotate(-10deg);
  transform: rotate(-10deg);
}
.reflections:after {
  content: "";
  display: block;
  height: 80px;
  width: 50px;
  background-image: linear-gradient(80deg, rgba(255,255,255,0.05) 45%, rgba(255,255,255,0.5));
  border-radius: 10% 20% 50% 30%/30% 60% 30% 40%;
  position: absolute;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-transform: rotateX(-25deg) rotate(-35deg) skewx(-15deg) translate(10px, -20px);
  transform: rotateX(-25deg) rotate(-35deg) skewx(-15deg) translate(10px, -20px);
  top: -8px;
  left: -5px;
}
.reflections:before {
  content: "";
  display: block;
  position: absolute;
  height: 10px;
  width: 30px;
  background-image: linear-gradient(to right, transparent, rgba(255,255,255,0.15));
  bottom: 10px;
  right: 0px;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}
.sparks .spark1 {
  display: block;
  height: 1px;
  width: 1px;
  background-color: #d1b82b;
  position: absolute;
  right: -5px;
  border-radius: 50%;
  bottom: 23px;
  transition: 0.4s;
  opacity: 0;
}
.sparks .spark2 {
  display: block;
  height: 3px;
  width: 3px;
  background-color: #d1b82b;
  position: absolute;
  right: 20px;
  border-radius: 50%;
  bottom: 80px;
  transition: 0.4s;
  opacity: 0;
}
.sparks .spark3 {
  display: block;
  height: 3px;
  width: 3px;
  background-color: #d1b82b;
  position: absolute;
  left: 20px;
  border-radius: 50%;
  bottom: 80px;
  transition: 0.4s;
  opacity: 0;
}
.sparks .spark4 {
  display: block;
  height: 3px;
  width: 3px;
  background-color: #d1b82b;
  position: absolute;
  left: 20px;
  border-radius: 50%;
  bottom: 20px;
  transition: 0.4s;
  opacity: 0;
}
.switch input:checked ~ label .bulb {
  left: 120px;
  background-color: #a7694a;
  box-shadow: inset 0 0 1px 3px #a56758, inset 0 0 6px 8px #6b454f, 0 20px 30px -10px rgba(0,0,0,0.4), 0 0 30px 50px rgba(253,184,67,0.1);
}
.switch input:checked ~ label .bulb > .bulb-center {
  background-color: #feed6b;
  box-shadow: inset 0 0 0 4px #fdec6a, 0 0 12px 10px #bca83c, 0 0 20px 14px #a1664a;
}
.switch input:checked ~ label .bulb > .bulb-center:after {
  background-color: #fef401;
  box-shadow: 0 0 2px 4px #fdb843;
}
.switch input:checked ~ label .bulb >.filament-1:before,
.switch input:checked ~ label .bulb >.filament-2:before,
.switch input:checked ~ label .bulb >.filament-1:after,
.switch input:checked ~ label .bulb >.filament-2:after {
  border-color: #fef4d5;
}
.switch input:checked ~ label .bulb > .sparks .spark1 {
  height: 1px;
  width: 1px;
  -webkit-animation: spark1 2s ease-in-out;
  animation: spark1 2s ease-in-out;
  -webkit-animation-delay: 0.4s;
  animation-delay: 0.4s;
}
.switch input:checked ~ label .bulb > .sparks .spark2 {
  height: 1px;
  width: 1px;
  -webkit-animation: spark2 2.4s ease-in-out;
  animation: spark2 2.4s ease-in-out;
  -webkit-animation-delay: 0.4s;
  animation-delay: 0.4s;
}
.switch input:checked ~ label .bulb > .sparks .spark3 {
  height: 1px;
  width: 1px;
  -webkit-animation: spark3 2s ease-in-out;
  animation: spark3 2s ease-in-out;
  -webkit-animation-delay: 0.9s;
  animation-delay: 0.9s;
}
.switch input:checked ~ label .bulb > .sparks .spark4 {
  height: 1px;
  width: 1px;
  -webkit-animation: spark4 1.7s ease-in-out;
  animation: spark4 1.7s ease-in-out;
  -webkit-animation-delay: 0.9s;
  animation-delay: 0.9s;
}
@-webkit-keyframes spark1 {
  0% {
    right: -5px;
    height: 1px;
    width: 1px;
    opacity: 0;
  }
  20% {
    height: 3px;
    width: 3px;
    right: 0px;
    opacity: 1;
  }
  30% {
    right: -5px;
    opacity: 1;
    height: 3px;
    width: 3px;
  }
  70% {
    height: 3px;
    width: 3px;
  }
  100% {
    right: -60px;
    bottom: 40px;
    opacity: 0;
  }
}
@keyframes spark1 {
  0% {
    right: -5px;
    height: 1px;
    width: 1px;
    opacity: 0;
  }
  20% {
    height: 3px;
    width: 3px;
    right: 0px;
    opacity: 1;
  }
  30% {
    right: -5px;
    opacity: 1;
    height: 3px;
    width: 3px;
  }
  70% {
    height: 3px;
    width: 3px;
  }
  100% {
    right: -60px;
    bottom: 40px;
    opacity: 0;
  }
}
@-webkit-keyframes spark2 {
  0% {
    height: 3px;
    width: 3px;
    opacity: 0;
  }
  30% {
    opacity: 1;
  }
  100% {
    right: -20px;
    bottom: 100px;
    opacity: 0;
  }
}
@keyframes spark2 {
  0% {
    height: 3px;
    width: 3px;
    opacity: 0;
  }
  30% {
    opacity: 1;
  }
  100% {
    right: -20px;
    bottom: 100px;
    opacity: 0;
  }
}
@-webkit-keyframes spark3 {
  0% {
    opacity: 0;
  }
  30% {
    opacity: 1;
    height: 2px;
    width: 2px;
  }
  100% {
    left: 0px;
    bottom: 100px;
    opacity: 0;
    height: 3px;
    width: 3px;
  }
}
@keyframes spark3 {
  0% {
    opacity: 0;
  }
  30% {
    opacity: 1;
    height: 2px;
    width: 2px;
  }
  100% {
    left: 0px;
    bottom: 100px;
    opacity: 0;
    height: 3px;
    width: 3px;
  }
}
@-webkit-keyframes spark4 {
  0% {
    opacity: 0;
  }
  30% {
    opacity: 1;
    height: 2px;
    width: 2px;
  }
  100% {
    left: -20px;
    bottom: -10px;
    opacity: 0;
    height: 3px;
    width: 3px;
  }
}
@keyframes spark4 {
  0% {
    opacity: 0;
  }
  30% {
    opacity: 1;
    height: 2px;
    width: 2px;
  }
  100% {
    left: -20px;
    bottom: -10px;
    opacity: 0;
    height: 3px;
    width: 3px;
  }
}
