.red {
  color: #F5424C !important;
}
.thems {
  color: #1890ff !important;
}
.text-overflow {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
/*top*/
/*left*/
/*bottom*/
/* .hide
.hide
.hide */
.app {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.app .app-all {
  width: 100%;
  height: 100%;
}
.app .app-all .top {
  width: 100%;
  height: 55px;
  line-height: 55px;
  background: #FFFFFF;
  color: rgba(0, 0, 0, 0.3);
  position: fixed;
  top: 0;
  left: 0;
  border-bottom: 1px solid #E9E9E9;
  z-index: 999;
}
.app .app-all .top .logo {
  width: 200px;
  float: left;
  display: inline-block;
}
.app .app-all .top .logo img {
  width: 120px;
  height: 41px;
  float: left;
  margin: 7px 0;
  padding-left: 20px;
}
.app .app-all .top .logo .ant-switch {
  cursor: pointer;
  opacity: 0;
  width: 30px;
  height: 55px;
  float: right;
}
.app .app-all .top .logo i {
  font-size: 18px;
  float: right;
  margin-right: -40px;
  line-height: 55px;
}
.app .app-all .top .menu {
  float: left;
}
.app .app-all .top .menu span {
  margin: 0 10px;
}
.app .app-all .top .setting {
  float: right;
  margin-right: 20px;
}
.app .app-all .top .setting > i {
  margin: 0 20px;
  font-size: 18px;
}
.app .app-all .top .mail .ant-badge i {
  font-size: 20px;
  margin: 0 20px;
}
.app .app-all .top .mail .ant-badge .ant-badge-count {
  min-width: 14px;
  height: 14px;
  line-height: 13px;
  right: 20px;
  top: 0;
  font-size: 12px;
  padding: 0;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
.app .app-all .top .user .ant-badge .ant-avatar {
  width: 38px;
  height: 38px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
.app .app-all .top .ant-badge .ant-badge-dot {
  top: 6px;
  right: 2px;
}
.app .app-all .leftbar {
  width: 200px;
  position: fixed;
  top: 56px;
  height: 100%;
}
.app .app-all .leftbar .introduce {
  padding: 40px 0 10px;
  width: 200px;
  background: #00162A;
  text-align: center;
}
.app .app-all .leftbar .introduce img {
  width: 80px;
  height: 80px;
  border: 1px solid #E9E9E9;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
.app .app-all .leftbar .introduce h3 {
  color: #fff;
  padding: 30px 0 0;
}
.app .app-all .leftbar .ant-menu {
  width: 200px !important;
  height: 100%;
  background: #00162A !important;
}
.app .app-all .leftbar .ant-menu .intro span {
  font-size: 17px;
  padding-left: 0 !important;
  padding-right: 5px;
}
.app .app-all .leftbar .ant-menu-inline .ant-menu-submenu-title {
  padding-right: 10px;
  height: 60px;
  line-height: 60px;
  font-size: 17px;
}
.app .app-all .leftbar .ant-menu.ant-menu-dark .ant-menu-item-selected {
  background: #304047 !important;
  border-right: 4px solid #1890ff;
}
.app .app-all .right {
  margin-top: 55px;
  width: calc(100% - 200px);
  height: calc(100% - 55px);
  margin-left: 200px;
  background: #f0f2f5;
  overflow: hidden;
}
.app .app-all .right .crumb {
  /*background: #fff;
        text-align: left;
        line-height: 40px;
        font-size: 16px;
        padding-left: 15px;
        z-index: 999;*/
  background: #fff;
  position: fixed;
  top: 55px;
  width: 100%;
  height: 40px;
  text-align: left;
  line-height: 40px;
  font-size: 16px;
  padding-left: 15px;
  z-index: 999;
}
.app .app-all .right .content {
  width: 100%;
  height: calc(100% - 40px);
  margin-top: 40px;
  padding: 16px;
  background: #f0f2f5;
  overflow: auto;
}
.app .bottom {
  /*width: calc(~"100% - 200px");
    margin-left: 200px;
    height: 50px;
    line-height: 50px;
    background: #eceff1;
    border-top: 1px solid @borderColor;
    color: @borderColor;
    position: fixed;
    bottom: 0;
    left: 0;
    p {
      text-align: center;
    }*/
}
/* 收缩后样式 */
.app2 .app-all .top .logo {
  width: 60px;
  margin-left: 0;
  text-align: center;
}
.app2 .app-all .top .logo img {
  display: none;
}
.app2 .app-all .top .logo i {
  text-align: center;
  float: none;
}
.app2 .app-all .leftbar {
  width: 60px;
  z-index: 999;
}
.app2 .app-all .leftbar .introduce {
  display: none;
}
.app2 .app-all .leftbar .ant-menu.ant-menu-dark {
  width: 60px!important;
  height: 100%;
}
.app2 .app-all .leftbar .ant-menu.ant-menu-dark .intro span i {
  overflow: hidden;
}
.app2 .app-all .leftbar .ant-menu.ant-menu-dark li {
  width: 100%;
  height: 60px;
  line-height: 60px;
  font-size: 20px;
  padding: 0;
}
.app2 .app-all .leftbar .ant-menu.ant-menu-dark li span i {
  font-size: 20px;
  margin-right: 20px;
  display: inline-block;
  width: 100%;
}
.app2 .app-all .leftbar .ant-menu.ant-menu-dark li span span {
  display: none;
}
.app2 .app-all .leftbar .ant-menu.ant-menu-dark li li {
  font-size: 15px;
  border-bottom: 1px solid #ddd;
  padding-left: 15px;
  height: 40px;
  line-height: 40px;
}
.app2 .app-all .leftbar .ant-menu.ant-menu-dark .ant-menu-item-selected {
  background: #bda29a !important;
  border-right: none;
}
.app2 .app-all .leftbar .ant-menu.ant-menu-dark .ant-menu-submenu-vertical > .ant-menu-submenu-title:after {
  content: '';
}
.app2 .app-all .leftbar .ant-menu.ant-menu-dark .ant-menu-submenu-title {
  padding: 0;
  width: 60px;
  height: 60px;
}
.app2 .app-all .leftbar .ant-menu.ant-menu-dark .ant-menu-submenu-title span {
  width: 60px;
  height: 60px;
  display: inline-block;
}
.app2 .app-all .leftbar .ant-menu.ant-menu-dark .ant-menu-submenu-title span i {
  width: 100%;
  height: 100%;
  line-height: 60px;
}
.app2 .app-all .leftbar .ant-menu.ant-menu-dark .ant-menu-submenu-title span span {
  display: none;
}
.app2 .app-all .leftbar .ant-menu.ant-menu-dark .ant-menu-vertical li {
  background: #00162A;
  z-index: 999;
}
.app2 .app-all .right {
  width: calc(100% - 60px);
  height: calc(100% - 75px);
  margin-left: 60px;
}
.app2 .bottom {
  width: calc(100% - 60px);
  margin-left: 60px;
}
/* 模块样式 */
.common {
  width: 100%;
  background: #fff;
  padding: 5px 20px 0;
}
.home {
  width: 100%;
  background: #fff;
  padding: 5px 20px 0;
}
.home table {
  width: 100%;
  border-collapse: collapse;
  background: #fff;
}
.home table tr th {
  background: #f0f2f5;
  height: 50px;
  line-height: 50px;
  padding-left: 10px;
}
.home table tr td {
  height: 50px;
  line-height: 50px;
  border-bottom: 1px solid #f0f2f5;
  padding-left: 10px;
}
.home table tr td .progress {
  width: 75%;
}
.home table tr td img {
  width: 40px;
  height: 40px;
  border: 1px solid #E9E9E9;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
.home h4 {
  text-align: left;
  border-left: 4px solid #F86C6B;
  padding-left: 5px;
  margin: 20px 0 ;
}
.home .step .ant-steps {
  background: #fff;
}
.home .times {
  background: #fff;
}
.home .times .ant-timeline-item-content {
  text-align: left;
}
.home .tabs {
  background: #fff;
  text-align: left;
  font-size: 14px;
}
.home .tabs .tab-title {
  color: #87d068;
  font-weight: bold;
  margin-right: 5px;
  width: 50px;
  display: inline-block;
}
.home .tabs .tab-r {
  display: inline-block;
}
.home .tabs .tab-r .ant-tag-purple {
  margin: 10px 5px;
}
.echat {
  width: 100%;
}
.echat ul li {
  width: calc(100% - 16px);
  margin: 0 10px;
  margin-bottom: 16px;
  float: left;
  background: #fff;
  border: 3px solid #fff;
}
.echat ul li h3 {
  text-align: left;
  font-weight: normal;
  padding: 5px 10px;
  line-height: 35px;
  background: #ECEFF1;
  border-bottom: 2px solid #a0c101;
}
.note {
  width: 100%;
  height: calc(100% - 110px);
  background: #fff;
}
.note .note-l {
  padding: 10px;
  float: left;
  width: 300px;
  height: 100%;
  border-right: 1px solid #ECEFF1;
}
.note .note-l input {
  width: 260px;
  margin-bottom: 20px;
}
.note .note-l ul li {
  border-bottom: 1px solid #ECEFF1;
  text-align: left;
  padding-left: 10px;
}
.note .note-l ul li h3 {
  margin: 10px 0;
}
.note .note-l ul li p {
  font-size: 12px;
  color: #1890ff;
}
.note .note-r {
  padding: 10px;
  float: left;
  width: calc(100% - 200px);
}
.leave input[type=checkbox] {
  border: none;
  -webkit-appearance: none;
  vertical-align: text-bottom;
  width: 20px;
  height: 20px;
  background-image: url(images/check.png);
  background-size: 100% 100%;
}
.leave input[type=checkbox]:checked:before {
  content: " ";
  position: absolute;
  width: 20px;
  height: 20px;
  background-image: url(images/checked.png);
  background-size: 100% 100%;
}
.leave .leave-header {
  background: #fff;
  padding: 10px 10px 20px;
}
.leave .leave-header input {
  width: 80%;
  float: left;
  margin-bottom: 15px;
  border: none;
}
.leave .leave-header .sendBtn {
  width: 70px;
  text-align: right;
}
.leave .leave-main {
  text-align: left;
  background: #fff;
  padding: 15px;
  padding-top: 20px;
  border-top: 1px dashed #f77e1d;
}
.leave .leave-main .ant-timeline-item-content div {
  display: inline-block;
}
.leave .leave-main .ant-timeline-item-content span {
  margin-left: 10px;
}
.leave .leave-main .ant-timeline-item-content .title {
  font-size: 13px;
  font-weight: bold;
}
.leave .leave-main .ant-timeline-item-content .date {
  margin-left: 30px;
  color: #000;
}
.leave .leave-main .ant-timeline-item-content img {
  position: absolute;
  right: 0;
  top: -10px;
}
.leave .leave-main .ant-timeline-item-content .ant-btn {
  background: #f77e1c;
  border-color: #f77e1c;
  position: absolute;
  right: 45px;
  top: 0;
  width: 20px;
  height: 20px;
  line-height: 20px;
}
.leave .leave-main .ant-timeline-item-content p {
  margin-left: 20px;
  margin-top: 10px;
  min-height: 60px;
  padding: 5px 10px;
  background: rgba(236, 246, 253, 0.5);
}
.leave .leave-main .leave-footer {
  background: #fff;
  text-align: left;
  padding: 10px 10px 20px 10px;
  position: relative;
}
.leave .leave-main .leave-footer span {
  margin: 0 10px;
}
.leave .leave-main .leave-footer .ant-btn {
  background-color: #fff;
  padding: 0 5px;
  position: absolute;
  right: 10px;
  top: 5px;
}
