//left bg: top | bot
@logo:rgb(42,50,89);
@leftBar:rgb(31,36,56);

//left li: font | li active : bg | font
@liFont:#fff;
@liActiveBg:#fff;
@liActiveBorder:#fff;

//right: top | top font | top left border
@topBar:rgb(88,104,217);
@topFont:#fff;

//right botBg | thems | global font color
@rightBg:rgb(232,239,242);
@thems:rgb(88,104,217);
@thems2:rgb(70,212,186);

@bgColor:#fafafa;
@thems:rgb(88,104,217);
@thems2:rgb(70,212,186);

@color:#fff;
@fontColor:@color;
@fontColor2:#616161;
@fontColor3:#aaa;
@fontColor4:#000;
@fontColor5:#707070;

@fontSize:14px;
@fontSize2:12px;
@fontSize6:16px;
@fontSize8:18px;
@fontSize20:20px;

@borderColor:#E9E9E9;
@borderColor2:#D9D9D9;

/*字体图标*/
[class^=icon-] {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

//圆角
.border-radius(@radius:2px){
  border-radius: @radius;
  -webkit-border-radius: @radius;
  -moz-border-radius: @radius;
  -ms-border-radius: @radius;
  -o-border-radius: @radius;
}

//动画
.transform(@reg:-50%){
  transform: translateX(@reg);
  -webkit-transform: translateX(@reg);
  -moz-transform: translateX(@reg);
  -ms-transform: translateX(@reg);
  -o-transform: translateX(@reg);
}

//动画
.transition(@top:top,@time:0.3s,@type:ease-in-out){
  transition: @top @time @type;
  -webkit-transition: @top @time @type;
  -moz-transition: @top @time @type;
  -ms-transition: @top @time @type;
  -o-transition: @top @time @type;
}

//省略
.text-overflow{
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.fl{float: left;}
.fr{float: right;}

/* common moudle style */
.lee-cards{
  background: @color;
  overflow: hidden;
  box-shadow: 0 1px 3px rgba(26,26,26,.1);
  box-sizing: border-box;
  margin-bottom: 20px;
  padding: 15px;
  font-size: @fontSize;
  .border-radius(4px);
}

/* moudle style */
/*start*/
.leeThem(
  //left bg: top | bot
  @logo:@logo,@leftBar:@leftBar,

  //left li: font | li active : bg | font
  @liFont:@liFont,@liActiveBg:@liActiveBg,@liActiveBorder:@liActiveBorder,

  //right: top | top font | top left border
  @topBar:@topBar,@topFont:@topFont,

  //right botBg | thems | global font color
  @rightBg:@rightBg,@thems:@thems,@fontColor:@fontColor
) {
  /*login*/
  .lee-login {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 99;
    //background: #090437;
    .lee-login-bg {
      //background: url(/images/login1.png) 0 130px no-repeat;
      //background-image: url(/images/login1.png);
      background-position: 0 0;
      background-repeat: no-repeat;
      background-size: 100%;
      width: 100%;
      height: 100%;
      .lee-login-con {
        width: 660px;
        height: 400px;
        position: absolute;
        top: calc((100% - 480px) / 2);
        //left: calc((100% - 660px)/2);
        text-align: center;
        .lee-login-con-l {
          width: 55%;
          height: 100%;
          float: left;
          //background-image: url('images/logo/bg2.png');
          background: #fff;
          border-right: 2px solid #425dbd;
          box-shadow: -12px -12px 10px rgba(255, 255, 255, 0.6);
          //opacity: .8;
          img {
            //width: 100%;
            //height: 100%;
          }
        }
        .lee-login-con-r {
          width: 45%;
          height: 100%;
          background: @fontColor;
          float: left;
          box-shadow: 12px 12px 10px rgba(255, 255, 255, 0.6);
          h3 {
            margin: 50px 0 0;
            text-align: center;
            color: #425dbd;
            font-size: @fontSize20;
          }
          h4 {
            font-size: @fontSize;
            color: @fontColor3;
            margin-bottom: 70px;
          }
          .ant-input-affix-wrapper {
            width: 80%;
            margin: 30px auto;
            display: block;
            .ant-input, .ant-input:hover, .ant-input:focus {
              border-width: 0 0 1px 0 !important;
              border-radius: 0;
              box-shadow: none;
            }
          }
          .ant-btn {
            width: 80%;
            background: #425dbd;
            text-align: center;
            border: none;
          }
          p {
            text-align: right;
            margin: 20px;
            color: #425dbd;
            text-decoration: underline;
            cursor: pointer;
          }
        }
      }
    }
  }

  /*home*/
  /*.lee-home {
    width: 100%;
    color: @fontColor5;
    .lee-home-card {
      .lee-cards;
      h4 {
        text-align: left;
        border-left: 4px solid #F86C6B;
        padding-left: 5px;
        margin: 20px 0;
      }
      .step {
        .ant-steps {
          background: #fff;
        }
      }
      .lee-home-times {
        background: #fff;
        .ant-timeline-item-content {
          text-align: left;
        }
      }
      .lee-home-tabs {
        background: #fff;
        text-align: left;
        font-size: 14px;
        .lee-home-tab-title {
          color: #87d068;
          font-weight: bold;
          margin-right: 5px;
          width: 50px;
          display: inline-block;
        }
        .lee-home-tab-r {
          display: inline-block;
          .ant-tag-purple {
            margin: 10px 5px;
          }
        }
      }
      table {
        width: 100%;
        border-collapse: collapse;
        background: #fff;
        tr {
          th {
            background: @thems;
            height: 50px;
            line-height: 50px;
            padding-left: 10px;
            color: @color;
          }
          td {
            height: 50px;
            line-height: 50px;
            border-bottom: 1px solid @borderColor2;
            padding-left: 10px;
            .progress {
              width: 75%;
              //margin: 0 auto;
            }
            img {
              width: 40px;
              height: 40px;
              border: 1px solid @borderColor;
              .border-radius(50%);
            }
          }
        }
      }
    }
  }*/

  /*picture and music*/
  .lee-image {
    -moz-column-count: 5;
    -webkit-column-count: 5;
    column-count: 5;
    -moz-column-gap: 1em;
    -webkit-column-gap: 1em;
    column-gap: 1em;
    .lee-image-item {
      padding: 1em;
      margin: 0 0 1em 0;
      -moz-page-break-inside: avoid;
      -webkit-column-break-inside: avoid;
      break-inside: avoid;
      //border: 1px solid #000;
      .lee-cards;
      img {
        width: 100%;
      }
      h4 {
        font-size: 18px;
        color: @fontColor3;
        margin-top: 8px;
      }
      p {
        font-size: @fontSize;
        color: @fontColor4;
      }
      .lee-music {
        color: @thems;
        .lee-music-audio {
          width: 100%;
          margin-bottom: 10px;
        }

        & > div {
          .anticon {
            width: 50px;
            text-align: left;
            font-size: 25px;
            cursor: pointer;
          }
        }
        .lee-music-l {
          width: 150px;
          float: left;
          .prev-no, .next-no {
            pointer-events: none;
            cursor: default;
            opacity: 0.6;
          }
        }
        .lee-music-r {
          width: 50px;
          float: right;
          color: #EB2F96;
          .anticon {
            text-align: right;
          }
        }

      }
    }

  }

  @media screen and(max-width: 1440px) {
    .lee-image {
      -moz-column-count: 4;
      -webkit-column-count: 4;
      column-count: 4;
    }
  }

  @media screen and(max-width: 1240px) {
    .lee-image {
      -moz-column-count: 3;
      -webkit-column-count: 3;
      column-count: 3;
    }
  }

  @media screen and(max-width: 840px) {
    .lee-image {
      -moz-column-count: 2;
      -webkit-column-count: 2;
      column-count: 2;
    }
  }

  /*global music*/
  .lee-music-opera {
    position: fixed;
    top: 200px;
    right: 30px;
    .lee-music-animate {
      width: 75px;
      height: 75px;
      line-height: 75px;
      background: rgba(255, 255, 255, .1);
      color: rgb(245, 128, 33);
      text-align: center;
      font-size: 30px;
      .border-radius(50%);
      cursor: pointer;
      margin-right: -20px;
      margin-top: -2px;
      .uninfinite {
        animate-duration: 2s; //动画持续时间
        animate-delay: 2s; //动画延迟时间
        animation-iteration-count: 5; //动画执行次数
      }
    }
    .in {
      width: 55px;
      height: 55px;
      line-height: 55px;
      background: rgba(255, 255, 255, .1);
      color: rgb(245, 128, 33);
      text-align: center;
      font-size: 30px;
      .border-radius(50%);
      cursor: pointer;
      z-index: 1;

      &:after {
        opacity: .6;
        content: '';
        position: absolute;
        top: -7px;
        right: -7px;
        width: 70px;
        height: 70px;
        .border-radius(50%);
        border: 2px solid rgb(245, 128, 33);
        display: block;
        animation: sonarEffect 2.3s infinite ease-out 85ms;
        animate-iteration-count: 3;
        -webkit-animation-iteration-count: 3;
      }
      &:before {
        opacity: 0;
        content: '';
        position: absolute;
        top: -17px;
        right: -17px;
        width: 90px;
        height: 90px;
        .border-radius(50%);
        border: 2px solid rgb(245, 128, 33);
        display: block;
        animation: sonarEffect2 2.3s infinite ease-out 85ms;
        animation-delay: 0.3s;
        -webkit-animation-delay: 0.3s;
        -moz-animation-delay: 0.3s;
        animate-iteration-count: 3;
        -webkit-animation-iteration-count: 3;
        -moz-animation-iteration-count: 3;
      }
    }
  }

  @keyframes sonarEffect {
    0% {
      z-index: -1;
      opacity: .6;
    }
    25% {
      opacity: .4;
    }
    55% {
      opacity: .2;
    }
    75% {
      opacity: .4;
    }
    100% {
      opacity: .6;
    }
  }
  @keyframes sonarEffect2 {
    0% {
      z-index: -1;
      opacity: .1;
    }
    25% {
      opacity: .15;
      box-shadow: 0 0 0 2px rgba(255, 255, 255, .1), 0 0 2px 2px rgba(255, 255, 255, .3), 0 0 0 2px rgba(255, 255, 255, .5)
    }
    55% {
      opacity: .3;
      box-shadow: 0 0 0 2px rgba(245, 128, 33, .1), 0 0 4px 4px rgba(245, 128, 33, .3), 0 0 0 4px rgba(245, 128, 33, .5)
    }
    75% {
      opacity: .15;
      box-shadow: 0 0 0 2px rgba(255, 255, 255, .1), 0 0 2px 2px rgba(255, 255, 255, .3), 0 0 0 2px rgba(255, 255, 255, .5)
    }
    100% {
      opacity: .1;
    }
  }

  .lee-music-opera2 {
    position: fixed;
    right: 0;
    top: 198px;
    height: 80px;

    .lee-music-opera2-bar {
      .anticon {
        color: @thems;
        font-size: 25px;
        width: 50px;
        height: 50px;
        line-height: 55px;
        background: @color;
        border-radius: 50%;
        margin: 20px -3px;
        //margin: 20px;
        text-align: center;

        top: -15px;
        right: 100px;
        position: absolute;
      }
      .anticon-caret-right {
        top: 65px;
        right: 25px;
      }
      .anticon-pause-circle, .anticon-play-circle {
        right: 85px;
        top: 45px;
        transition: background 2s;
      }
    }
  }

  /*clound player*/
  .lee-clound {
    width: 100%;
    height: 100%;
    background: #FAFAFA;
    overflow: hidden;
    .lee-clound-l {
      width: 230px;
      height: 100%;
      background: #F5F5F7;
      //float: left;
      display: inline-block;
      color: #5C5C5C;
      overflow: auto;
      padding: 6px 0;
      .ant-input-search, .ant-select {
        margin: 0 10px 10px;
        width: calc(100% - 20px);
      }
      h4 {
        font-size: 15px;
        line-height: 30px;
        padding: 0 10px;
        cursor: pointer;
        .anticon {
          font-size: 13px;
          float: right;
          line-height: 30px;
          color: #C4C4C5;
        }
      }
      p {
        font-size: 13px;
        margin-bottom: 5px;
        cursor: pointer;
        padding: 0 5px 0 25px;
        line-height: 30px;
        .text-overflow;
        &.active {
          background: #E6E7EA;
          color: @fontColor4;
          border-left: 4px solid @thems;
        }
        .anticon, [class^=icon-] {
          font-size: 13px;
          margin-right: 7px;
        }
      }
    }
    .lee-clound-r {
      width: calc(100% - 231px);
      height: 100%;
      overflow: auto;
      //border-left: 1px solid @borderColor;
      //float: right;
      display: inline-block;
      vertical-align: top;
      .lee-clound-r-t {
        margin: 10px;
        font-size: @fontSize6;
        span {
          font-size: @fontSize2;
          margin-left: 20px;
          color: @fontColor3;
        }
      }
    }
  }

  /*player list*/
  .lee-player {
    .lee-player-item {
      height: 32px;
      line-height: 32px;
      background: #F5F5F7;
      color: #666666;
      &:nth-child(2n) {
        background: #FAFAFA;
      }
      .lee-player-item-music {
        padding: 0 15px;
        cursor: pointer;
        height: 32px;
        line-height: 32px;
        &.active {
          background: #E3E3E5;
        }
        .lee-music-audio {
          width: 100%;
        }
        & > span {
          display: inline-block;
          vertical-align: middle;
          margin-left: 10px;
          .text-overflow;
        }
        .lee-player-item-operation {
          width: 60px;
        }
        .lee-player-item-num {
          width: 30px;
        }
        .lee-player-item-heart {
          width: 30px;
          text-align: left;
          color: rgb(205, 41, 41);
        }
        .lee-player-item-title {
          //width:calc(100% - 170px - 40%);
          width: calc(100% - 120px - 50%);
          color: @fontColor4;
        }
        .lee-player-item-singer {
          width: 25%;
          span {
            position: relative;
            left: 0;
            margin: 0 3px;
            /*&:after {
              content: '/';
              position: absolute;
              left: 0;
              width: 10px;
            }
            &:first-child:after{
              content: '';
            }*/
          }
        }
        .lee-player-item-album {
          width: 25%;
        }
        /*.lee-player-item-time{
          width: 50px;
        }*/

      }
      .lee-player-item-music-t {
        background: rgba(42, 50, 89, .7);
        color: @fontColor;
        .lee-player-item-title {
          color: @fontColor !important;
        }
      }
    }
  }

  /*bottom music bar*/
  .lee-music-bar {
    width: 100%;
    height: 60px;
    overflow: hidden;
    background: @color;
    border-top: 1px solid @borderColor2;
    position: absolute;
    bottom: 0;
    right: 0;
    .lee-image-item {
      width: 100%;
      height: 60px;
      img {
        width: 60px;
        height: 60px;
        float: left;
      }
      .lee-music {
        background: #F6F6F8;
        width: calc(100% - 60px);
        height: 60px;
        float: left;
        color: @thems;
        padding-left: 20px;
        .lee-music-audio {
          width: 100%;
          margin-bottom: 10px;
        }
        .lee-music-l {
          width: auto;
          float: left;
          .lee-music-l-bot {
            .anticon {
              width: 35px;
              height: 35px;
              line-height: 37px;
              background: @thems;
              .border-radius(50%);
              text-align: center;
              font-size: 20px;
              cursor: pointer;
              color: @fontColor;
              margin-right: 15px;
            }
            .prev-no, .next-no {
              pointer-events: none;
              cursor: default;
              opacity: 0.6;
            }
            .lee-music-l-top {
              font-size: @fontSize;
              color: @fontColor4;
              margin-top: 5px;
              margin-bottom: 0;
              .text-overflow;
            }
            .ant-progress-inner {
              background: #ddd;
            }
          }
        }
        .lee-music-r {
          width: 160px;
          float: right;
          line-height: 60px;
          color: rgb(205, 41, 41);
          span {
            width: 50px;
            text-align: center;
            font-size: 20px;
            cursor: pointer;
            display: inline-block;
            vertical-align: top;
          }
          .lee-music-num {
            .anticon {
              color: #666;
            }
            span {
              background: #E1E1E2;
              display: inline-block;
              width: 25px;
              height: 18px;
              line-height: 18px;
              color: #666;
              font-size: @fontSize;
              .border-radius(0 10px 10px 0);
              vertical-align: 2px;
              font-size: 14px;
              margin-left: -1px;
            }
          }
        }
      }
    }
  }

  /*current player list history*/
  .lee-music-profile {
    width: 400px;
    max-height: 300px;
    overflow: hidden;
    position: fixed;
    right: 10px;
    bottom: 60px;
    background: #FAFAFA;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, .5);
    color: @fontColor4;
    padding-bottom: 10px;
    .border-radius(2px);
    .lee-music-profile-title {
      background: #F4F4F6;
      text-align: center;
      line-height: 40px;
      border-bottom: 1px solid @borderColor2;
      .anticon {
        float: right;
        line-height: 40px;
        padding-right: 10px;
        color: #666;
        font-size: @fontSize6;
        cursor: pointer;
      }
    }
    p {
      margin-bottom: 0;
    }
    .lee-music-profile-opera {
      line-height: 30px;
      padding: 0 10px 0 30px;
      color: #666;
      span {
        width: calc(100% - 4em);
        display: inline-block;
        &:last-child {
          width: 4em;
          text-align: right;
          i {
            margin-left: 5px;
          }
        }
      }
    }
    .lee-music-profile-list {
      width: 100%;
      max-height: calc(300px - 80px);
      overflow: auto;
      div {
        height: 32px;
        line-height: 32px;
        background: #F5F5F7;
        color: #666;
        padding: 0 10px;
        &:nth-child(2n) {
          background: #FAFAFA;
        }
        & > span {
          display: inline-block;
          vertical-align: middle;
          padding-right: 10px;
        }
        .lee-music-profile-status {
          width: 20px;
          padding-right: 0;
          .anticon {
            color: red;
          }
        }
        .lee-music-profile-name {
          width: 50%;
          cursor: pointer;
          .text-overflow;
        }
        .lee-music-profile-singer {
          width: calc(50% - 30px);
          color: @fontColor3;
          .text-overflow;
        }
        .lee-music-profile-del {
          width: 30px;
          text-align: right;
          color: red;
          padding-right: 0;
        }
      }
    }
  }

  /* music volume */
  .lee-music-volume {
    height: 300px;
    overflow: hidden;
    position: fixed;
    right: 120px;
    bottom: 35px;
    padding: 20px 0;
    .ant-slider {
      &:focus {
        outline: none;
      }
      .ant-slider-rail {
        background: #666c88;
      }
      .ant-slider-track {
        background-color: #cd2929;
      }
      .ant-slider-handle {
        border: 2px solid #cd2929;
        &:focus {
          box-shadow: 0 0 0 2px #cd2929;
        }
      }
    }
  }

  /*lee-echat*/
  .lee-echat {
    width: 100%;
    ul {
      li {
        width: calc(50% - 8px);
        float: left;
        margin-right: 8px;
        .lee-cards;
        &:nth-child(2n) {
          margin-left: 8px;
          margin-right: 0;
        }
        .lee-hy-item-card {
          h3 {
            margin-bottom: 0;
          }
          .lee-hy-item-card-con {
            padding: 20px;
          }
        }
      }
    }
  }

  /*lee-leave*/
  /*.leave-bg when (@rightBg = transparent){
      background: @rightBg;
  }*/
  .lee-leave {
    width: 100%;
    height: 100%;
    background: @color;
    overflow: hidden;
    .border-radius(2px);
    .lee-leave-l {
      width: 250px;
      height: 100%;
      display: inline-block;
      padding: 10px;
      border-right: 1px solid #ECEFF1;
      input {
        width: 230px;
      }
      ul {
        li {
          border-bottom: 1px solid #ECEFF1;
          text-align: left;
          padding-left: 10px;
          h3 {
            margin: 10px 0;
          }
          p {
            font-size: 12px;
            color: @thems;
          }
        }
      }
    }
    .lee-leave-r {
      width: calc(100% - 250px);
      display: inline-block;
      padding: 10px;
      vertical-align: top;

      /*lee-leave*/
      .lee-leave-edit {
        background: @color;
        input[type=checkbox] {
          border: none;
          -webkit-appearance: none;
          vertical-align: text-bottom;
          width: 20px;
          height: 20px;
          background-image: url(images/note/check.png);
          background-size: 100% 100%;
          &:checked:before {
            content: " ";
            position: absolute;
            width: 20px;
            height: 20px;
            background-image: url(images/note/checked.png);
            background-size: 100% 100%;
          }
        }
        .lee-leave-header {
          padding:0 10px 20px;
        }
        .lee-leave-main {
          text-align: left;
          padding: 15px;
          .ant-timeline-item-content {
            div {
              display: inline-block;
            }
            span {
              margin-left: 10px;
            }
            .title {
              font-size: 15px;
              font-weight: bold;
            }
            .date {
              margin-left: 30px;
              color: #000;
            }
            img {
              position: absolute;
              right: 0;
              top: -10px;
            }
            .ant-btn {
              background: #f77e1c;
              border-color: #f77e1c;
              position: absolute;
              right: 45px;
              top: 0;
              width: 20px;
              height: 20px;
              line-height: 20px;
            }
            p {
              margin-left: 20px;
              margin-top: 10px;
              min-height: 60px;
              padding: 5px 10px;
              background: rgba(236, 246, 253, .5);
            }
          }
        }
        .lee-leave-footer {
          border-top: 1px solid @borderColor;
          text-align: left;
          padding: 10px;
          position: relative;
          & > span {
            margin: 0 10px;
            color: @fontColor4;
          }
          .ant-btn {
            color: @fontColor4;
            background-color: transparent;
            border: none;
            padding: 0 5px;
            position: absolute;
            right: 10px;
            top: 5px;
          }
        }
      }
    }
  }

  /*lee Tenement*/
  .lee-wy {
    color: @fontColor5;
    .lee-wy-top {
      .wy-color {
        color: #67A8FF;
      }
      .wy-color2 {
        color: #0FB7CF;
      }
      .wy-color3 {
        color: #FEB50C;
      }
      .wy-color4 {
        color: #FF0203;
      }
      .lee-wy-top-item {
        .lee-cards;
        width: 24%;
        float: left;
        margin-right: 1.33333%;
        padding: 25px 50px;
        &:last-child {
          margin-right: 0;
        }
        .lee-wy-top-item-l {
          padding: 6px 0 0;
          .anticon {
            font-size: 40px;
            font-weight: normal;
          }
        }
        .lee-wy-top-item-r {
          h3 {
            text-align: center;
            font-size: @fontSize;
            color: @fontColor2;
            margin-bottom: 0;
          }
          p {
            font-size: @fontSize20;
            text-align: center;
            font-weight: bold;
            margin-bottom: 0;
            line-height: 35px;
          }
        }
      }
    }
    .lee-wy-con {
      clear: both;
      .lee-wy-con-l {
        width: 74.5%;
        display: inline-block;
        margin-right: 1.5%;
        .lee-cards;
      }
      .lee-wy-con-r {
        width: 24%;
        display: inline-block;
        vertical-align: top;
        .lee-cards;
        height: 380px;
        h4 {
          color: @fontColor3;
          font-size: @fontSize6;
          margin-bottom: 10px;
        }
        & > div {
          width: 100%;
          text-align: center;
          height: 295px;
          padding-top: 50px;
          .ant-progress-circle-path {
            stroke: #6AAAFE;
          }
          .lee-wy-con-r-pro {
            p {
              margin: 0 0 10px 0;
              font-size: 1em;
            }
          }
        }
        .lee-wy-con-r-title {
          width: 100%;
          span {
            color: @fontColor4;
            display: inline-block;
            &:first-child {
              width: 60%;
            }
            em {
              width: 15px;
              height: 15px;
              background: #67A8FF;
              display: inline-block;
              vertical-align: sub;
              margin-right: 10px;
            }
          }
        }
      }
    }
    .lee-wy-bot {
      .lee-wy-bot-item {
        width: 49%;
        margin-right: 2%;
        float: left;
        .lee-cards;
        &:last-child {
          margin-right: 0;
        }
        h4 {
          color: @fontColor3;
          font-size: @fontSize;
          margin-bottom: 10px;
        }
        ul {
          width: 100%;
          li {
            width: 100%;
            height: 40px;
            line-height: 40px;
            padding: 0 10px;
            &.pending {
              span:last-child {
                color: #67A8FF;
              }
            }
            &.active {
              background: #F0F7FF;
              span:last-child {
                color: red;
              }
            }
            span {
              display: inline-block;
              width: calc((100% - 160px) / 2);
              &:first-child {
                width: 100px;
              }
              &:last-child {
                width: 60px;
              }
            }
          }
        }
      }
    }
  }

  .lee-hy {
    -moz-column-count: 2;
    -webkit-column-count: 2;
    column-count: 2;

    -moz-column-gap: 1em;
    -webkit-column-gap: 1em;
    column-gap: 1em;

    .lee-hy-item {
      width: 100%;
      float: left;

      -moz-page-break-inside: avoid;
      -webkit-column-break-inside: avoid;
      break-inside: avoid;

      img {
        width: 100%;
        margin-bottom: 10px;
      }

      .lee-hy-item-card {
        width: 100%;
        margin-bottom: 20px;
        overflow: hidden;
        box-shadow: 0 1px 3px rgba(26, 26, 26, .1);
        //box-sizing: border-box;
        font-size: @fontSize;
        .border-radius(4px);
        .lee-hy-item-card-title {
          height: 40px;
          line-height: 40px;
          padding: 0 20px;
          background: @thems;
          color: @fontColor;
          font-size: 14px;
          span {
            font-size: @fontSize;
          }
          .lee-hy-item-card-title-text {
            font-size: 12px;
            margin-left: 10px;
          }
          .lee-hy-item-card-op-r {
            float: right;
            color: @color;
            font-size: 14px;
            cursor: pointer;
            i {
              padding-left: 7px;
              font-size: 12px;
            }
          }
        }
        .lee-hy-item-card-con {
          background: @color;
          color: @fontColor2;
          font-size: 14px;
          .lee-hy-item-card-con-text {
            .lee-hy-item-card-con-text-title {
              background: @thems;
              background: -webkit-linear-gradient(left, rgba(@thems, .3), rgba(@thems, 1)); /* Safari 5.1 - 6.0 */
              background: -o-linear-gradient(right, rgba(@thems, .3), rgba(@thems, 1)); /* Opera 11.1 - 12.0 */
              background: -moz-linear-gradient(right, rgba(@thems, .3), rgba(@thems, 1)); /* Firefox 3.6 - 15 */
              background: linear-gradient(to right, rgba(@thems, .3), rgba(@thems, 1)); /* 标准的语法 */
              color: @color;
              padding: 20px;
              & > span {
                width: 30px;
                font-size: 18px;
                display: inline-block;
              }
              & > div {
                display: inline-block;
                width: calc(100% - 30px);
                vertical-align: text-top;
                p {
                  margin-bottom: 3px;
                  .anticon {
                    margin-right: 10px;
                  }
                  span {
                    margin-left: 20px;
                  }
                }
              }
            }
            .lee-hy-item-card-con-text-li {
              padding: 10px 20px;
              .anticon {
                margin-right: 15px;
              }
            }
          }

          .lee-hy-item-input {
            padding-bottom: 20px;
            .lee-hy-form {
              .ant-form-item {
                margin-bottom: 10px;
              }
            }
          }
        }
      }
    }

  }

  .lee-intro {
    .intro-c1 {
      background: #84D991
    }
  ;
    .intro-ch1 {
      background: #DFF0E1
    }
  ;

    .intro-c2 {
      background: #58BBEE
    }
  ;
    .intro-ch2 {
      background: #E3F4FC
    }
  ;

    .intro-c3 {
      background: #FFD8AC
    }
  ;
    .intro-ch3 {
      background: #FEF5EB
    }
  ;

    .intro-c4 {
      background: #80D7D9
    }
  ;
    .intro-ch4 {
      background: #D7F1F2
    }
  ;

    .lee-intro-con {
      height: 235px;
      .lee-intro-con-l {
        width: 70%;
        position: relative;
        .lee-cards;
        float: left;
        .lee-intro-con-l-t {
          img {
            width: 100px;
            height: 100px;
            .border-radius(50%);
            display: inline-block;
            vertical-align: top;
          }
          .lee-intro-con-l-msg {
            display: inline-block;
            padding-left: 30px;
            color: #aaa;
            h4 {
              font-size: @fontSize20;
              margin-bottom: 0;
              .anticon {
                margin-left: 8px;
                color: #EB2F96;
              }
            }
            p {
              font-size: @fontSize;
              margin-bottom: 0;
              line-height: 25px;
              .anticon {
                margin-right: 8px;
              }
            }
          }
        }
        .lee-intro-con-l-b {
          width: 100%;
          margin-top: 20px;
          div {
            width: 20%;
            float: left;
            padding: 10px 0;
            p {
              text-align: center;
              font-size: @fontSize6;
              line-height: 30px;
              margin-bottom: 0;
              &:first-child {
                font-size: 25px;
              }
            }
            &:first-child {
              background: #58BBEE;
            }
            &:nth-child(2) {
              background: #75C181;
            }
            &:nth-child(3) {
              background: #F77B6B;
            }
            &:nth-child(4) {
              background: #F8A13F;
            }
            &:last-child {
              background: #8A40A7;
            }
          }
        }
        .lee-intro-con-l-r {
          position: absolute;
          right: 15px;
          top: 15px;
        }
      }
      .lee-intro-con-r {
        .lee-cards;
        width: 28%;
        height: 235px;
        float: right;
        color: @fontColor4;
      }
    }

    .lee-intro-bot {
      position: relative;
      width: 100%;
      height: 450px;
      margin: 25px 0;
      overflow: hidden;
      .lee-intro-bot-img {
        width: 100%;
        height: 100%;
        &:hover {
          img {
            opacity: 0.6;
            -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
          }
          figcaption::before {
            left: -100px;
            -webkit-transform: scale3d(1.9, 1.4, 1) rotate3d(0, 0, 1, 45deg) translate3d(0, 100%, 0);
            transform: scale3d(1.9, 1.4, 1) rotate3d(0, 0, 1, 45deg) translate3d(0, 100%, 0);
          }
          h2 {
            opacity: 1;
            -webkit-transition-delay: 0.1s;
            transition-delay: 0.1s;
          }
        }
        img {
          width: 100%;
          height: 104%;
          opacity: 0.95;
          -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
          transition: opacity 0.35s, transform 0.35s;
          -webkit-transform: scale3d(1.05, 1.05, 1);
          transform: scale3d(1.05, 1.05, 1);
        }
        figcaption {
          &::before {
            position: absolute;
            right: -100%;
            top: 0;
            width: 100%;
            height: 100%;
            background: rgba(255, 255, 255, 0.5);
            content: '';
            -webkit-transition: -webkit-transform 0.6s;
            transition: transform 0.6s;
            -webkit-transform: scale3d(1.9, 1.4, 1) rotate3d(0, 0, 1, 45deg) translate3d(0, -100%, 0);
            transform: scale3d(1.9, 1.4, 1) rotate3d(0, 0, 1, 45deg) translate3d(0, -100%, 0);
          }
          h2 {
            position: absolute;
            left: 0;
            bottom: 0;
            margin: 20px;
            opacity: 0;
            -webkit-transition: opacity 0.35s;
            transition: opacity 0.35s;
            color: @fontColor;
          }
        }
      }

      .lee-intro-bot-img2 {
        width: 100%;
        height: 100%;
        img {
          width: 25%;
          height: 100%;
          .border-radius(2px 0 0 2px);
          &:last-child {
            .border-radius(0 2px 2px 0);
          }
        }
      }

      .animation {
        width: calc(70% - 60px);
        height: calc(100% - 60px);
        position: absolute;
        top: 0;
        left: 0;
        opacity: 0;
        margin: 30px;
        border: 2px solid #fff;
        -webkit-transition: opacity 1.35s, -webkit-transform 1.35s;
        transition: opacity 1.35s, transform 1.35s;
        box-shadow: 0 0 0 30px rgba(255, 255, 255, 0.2);
      }
      .lee-intro-bot-img3 {
        width: 100%;
        height: 100%;
        figure {
          width: 70%;
          height: 105%;
          display: inline-block;
          vertical-align: top;
          img {
            width: 100%;
            height: 105%;
            .border-radius(2px 0 0 2px);
          }
          figcaption {
            .animation;
            h2 {
              text-align: center;
              margin-top: 100px;
              font-size: 28px;
              font-weight: normal;
              color: @fontColor;
            }
            p {
              padding: 20px;
              width: 50%;
              margin: 0 auto;
              text-align: center;
              -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
              transition: opacity 1.35s, transform 1.35s;
              -webkit-transform: scale(1.5);
              transform: scale(1.5);
              opacity: 0;
            }
          }
          &:hover {
            img {
              width: 150%;
              height: 100%;
              opacity: .6;
            }
            figcaption {
              .animation;
              opacity: 1;
              p {
                opacity: 1;
                -webkit-transform: scale3d(1, 1, 1);
                transform: scale3d(1, 1, 1);
              }
            }
          }
        }
        img {
          .border-radius(0 2px 2px 0);
          width: 30%;
        }
      }

      .lee-intro-bot-opera {
        position: absolute;
        right: 10px;
        top: 18px;
        z-index: 99;
        span {
          display: inline-block;
          width: 15px;
          height: 15px;
          cursor: pointer;
          .border-radius(50%);
          margin-right: 5px;
          background: #F8A13F;
          &:first-child {
            background: #F77B6B;
          }
          &:last-child {
            background: #8A40A7;
          }
        }
      }
    }

    .lee-intro-top {
      height: 80px;
      clear: both;
      .lee-intro-top-item {
        width: calc((100% - 30px) / 4);
        height: 80px;
        margin-right: 10px;
        float: left;
        .border-radius(3px);
        &:first-child {
          .intro-ch1;
          .lee-intro-t-l {
            .intro-c1;
          }
          .lee-intro-t-r {
            color: #84D991;
          }
        }
        &:nth-child(2) {
          .intro-ch2;
          .lee-intro-t-l {
            .intro-c2;
          }
          .lee-intro-t-r {
            color: #58BBEE;
          }
        }
        &:nth-child(3) {
          .intro-ch3;
          .lee-intro-t-l {
            .intro-c3;
          }
          .lee-intro-t-r {
            color: #FFD8AC;
          }
        }
        &:last-child {
          .intro-ch4;
          margin-right: 0;
          .lee-intro-t-l {
            .intro-c4;
          }
          .lee-intro-t-r {
            color: #80D7D9;
          }
        }
        .lee-intro-t-l {
          width: 80px;
          height: 80px;
          text-align: center;
          display: inline-block;
          vertical-align: top;
          color: @fontColor;
          .border-radius(3px 0 0 3px);
          .anticon {
            font-size: 55px;
            line-height: 80px;
          }
        }
        .lee-intro-t-r {
          display: inline-block;
          div {
            font-size: @fontSize6;
            padding-left: 20px;
            &:first-child {
              font-size: 26px;
              margin-top: 5px;
            }
          }
        }
      }
    }
  }

}

.switch {
  position: relative;
}
.switch input {
  height: 100%;
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
  z-index: 100;
  cursor: pointer;
}
.switch label {
  height: 110px;
  width: 220px;
  background-color: #39315a;
  border-radius: 100px;
  display: block;
  box-shadow: inset 0 0 20px rgba(0,0,0,0.2), inset 0 0 5px -2px rgba(0,0,0,0.4);
}
.switch label .bulb {
  height: 90px;
  width: 90px;
  background-color: #4a426b;
  border-radius: 50%;
  position: relative;
  top: 10px;
  left: 10px;
  display: block;
  transition: 0.7s;
  box-shadow: inset 0 0 1px 3px #4a426b, inset 0 0 6px 8px #423963, 0 20px 30px -10px rgba(0,0,0,0.4);
}
.switch label .bulb .bulb-center {
  position: absolute;
  display: block;
  height: 36px;
  width: 36px;
  background-color: #5a527b;
  border-radius: 50%;
  top: 50%;
  left: 50%;
  transition: 0.7s;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  box-shadow: inset 0 0 0 4px #635a84;
}
.switch label .bulb .bulb-center:after {
  content: "";
  display: block;
  height: 14px;
  width: 14px;
  background-color: #7b7394;
  border-radius: 50%;
  position: absolute;
  transition: 0.7s;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  box-shadow: 0 0 2px 4px #524a73;
}
.switch label .bulb .filament-1,
.switch label .bulb .filament-2 {
  position: absolute;
  display: block;
  height: 35px;
  width: 35px;
  border-radius: 50%;
  top: 50%;
  left: 50%;
  overflow: hidden;
  -webkit-transform: translate(-50%, -50%) rotate(-45deg);
  transform: translate(-50%, -50%) rotate(-45deg);
}
.switch label .bulb .filament-1:after,
.switch label .bulb .filament-2:after,
.switch label .bulb .filament-1:before,
.switch label .bulb .filament-2:before {
  content: "";
  display: block;
  height: 6px;
  width: 17px;
  border-radius: 50%;
  border: 2px solid #4a426b;
  position: absolute;
  transition: 0.7s;
  top: -4px;
  left: -2px;
  -webkit-transform: rotate(-10deg);
  transform: rotate(-10deg);
}
.switch label .bulb .filament-1:before,
.switch label .bulb .filament-2:before {
  left: 15px;
  -webkit-transform: rotate(10deg);
  transform: rotate(10deg);
}
.switch label .bulb .filament-2 {
  -webkit-transform: translate(-50%, -50%) rotate(45deg) !important;
  transform: translate(-50%, -50%) rotate(45deg) !important;
}
.reflections {
  height: 100%;
  width: 100%;
  display: block;
  border-radius: 50%;
  overflow: hidden;
  position: absolute;
  z-index: 90;
  -webkit-perspective: 70px;
  perspective: 70px;
}
.reflections span {
  height: 80px;
  width: 80px;
  border-radius: 50%;
  background-image: linear-gradient(-135deg, transparent 10%, rgba(255,255,255,0.3));
  position: absolute;
  left: -40px;
  bottom: -45px;
}
.reflections span:after {
  content: "";
  display: block;
  height: 35px;
  width: 20px;
  position: absolute;
  top: -36px;
  right: -40px;
  border-radius: 50%;
  box-shadow: 4px -2px 0 -3px rgba(255,255,255,0.4);
  -webkit-filter: blur(1px);
  filter: blur(1px);
  -webkit-transform: rotate(-10deg);
  transform: rotate(-10deg);
}
.reflections:after {
  content: "";
  display: block;
  height: 80px;
  width: 50px;
  background-image: linear-gradient(80deg, rgba(255,255,255,0.05) 45%, rgba(255,255,255,0.5));
  border-radius: 10% 20% 50% 30%/30% 60% 30% 40%;
  position: absolute;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-transform: rotateX(-25deg) rotate(-35deg) skewx(-15deg) translate(10px, -20px);
  transform: rotateX(-25deg) rotate(-35deg) skewx(-15deg) translate(10px, -20px);
  top: -8px;
  left: -5px;
}
.reflections:before {
  content: "";
  display: block;
  position: absolute;
  height: 10px;
  width: 30px;
  background-image: linear-gradient(to right, transparent, rgba(255,255,255,0.15));
  bottom: 10px;
  right: 0px;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}
.sparks .spark1 {
  display: block;
  height: 1px;
  width: 1px;
  background-color: #d1b82b;
  position: absolute;
  right: -5px;
  border-radius: 50%;
  bottom: 23px;
  transition: 0.4s;
  opacity: 0;
}
.sparks .spark2 {
  display: block;
  height: 3px;
  width: 3px;
  background-color: #d1b82b;
  position: absolute;
  right: 20px;
  border-radius: 50%;
  bottom: 80px;
  transition: 0.4s;
  opacity: 0;
}
.sparks .spark3 {
  display: block;
  height: 3px;
  width: 3px;
  background-color: #d1b82b;
  position: absolute;
  left: 20px;
  border-radius: 50%;
  bottom: 80px;
  transition: 0.4s;
  opacity: 0;
}
.sparks .spark4 {
  display: block;
  height: 3px;
  width: 3px;
  background-color: #d1b82b;
  position: absolute;
  left: 20px;
  border-radius: 50%;
  bottom: 20px;
  transition: 0.4s;
  opacity: 0;
}
.switch input:checked ~ label .bulb {
  left: 120px;
  background-color: #a7694a;
  box-shadow: inset 0 0 1px 3px #a56758, inset 0 0 6px 8px #6b454f, 0 20px 30px -10px rgba(0,0,0,0.4), 0 0 30px 50px rgba(253,184,67,0.1);
}
.switch input:checked ~ label .bulb > .bulb-center {
  background-color: #feed6b;
  box-shadow: inset 0 0 0 4px #fdec6a, 0 0 12px 10px #bca83c, 0 0 20px 14px #a1664a;
}
.switch input:checked ~ label .bulb > .bulb-center:after {
  background-color: #fef401;
  box-shadow: 0 0 2px 4px #fdb843;
}
.switch input:checked ~ label .bulb >.filament-1:before,
.switch input:checked ~ label .bulb >.filament-2:before,
.switch input:checked ~ label .bulb >.filament-1:after,
.switch input:checked ~ label .bulb >.filament-2:after {
  border-color: #fef4d5;
}
.switch input:checked ~ label .bulb > .sparks .spark1 {
  height: 1px;
  width: 1px;
  -webkit-animation: spark1 2s ease-in-out;
  animation: spark1 2s ease-in-out;
  -webkit-animation-delay: 0.4s;
  animation-delay: 0.4s;
}
.switch input:checked ~ label .bulb > .sparks .spark2 {
  height: 1px;
  width: 1px;
  -webkit-animation: spark2 2.4s ease-in-out;
  animation: spark2 2.4s ease-in-out;
  -webkit-animation-delay: 0.4s;
  animation-delay: 0.4s;
}
.switch input:checked ~ label .bulb > .sparks .spark3 {
  height: 1px;
  width: 1px;
  -webkit-animation: spark3 2s ease-in-out;
  animation: spark3 2s ease-in-out;
  -webkit-animation-delay: 0.9s;
  animation-delay: 0.9s;
}
.switch input:checked ~ label .bulb > .sparks .spark4 {
  height: 1px;
  width: 1px;
  -webkit-animation: spark4 1.7s ease-in-out;
  animation: spark4 1.7s ease-in-out;
  -webkit-animation-delay: 0.9s;
  animation-delay: 0.9s;
}
@-webkit-keyframes spark1 {
  0% {
    right: -5px;
    height: 1px;
    width: 1px;
    opacity: 0;
  }
  20% {
    height: 3px;
    width: 3px;
    right: 0px;
    opacity: 1;
  }
  30% {
    right: -5px;
    opacity: 1;
    height: 3px;
    width: 3px;
  }
  70% {
    height: 3px;
    width: 3px;
  }
  100% {
    right: -60px;
    bottom: 40px;
    opacity: 0;
  }
}
@keyframes spark1 {
  0% {
    right: -5px;
    height: 1px;
    width: 1px;
    opacity: 0;
  }
  20% {
    height: 3px;
    width: 3px;
    right: 0px;
    opacity: 1;
  }
  30% {
    right: -5px;
    opacity: 1;
    height: 3px;
    width: 3px;
  }
  70% {
    height: 3px;
    width: 3px;
  }
  100% {
    right: -60px;
    bottom: 40px;
    opacity: 0;
  }
}
@-webkit-keyframes spark2 {
  0% {
    height: 3px;
    width: 3px;
    opacity: 0;
  }
  30% {
    opacity: 1;
  }
  100% {
    right: -20px;
    bottom: 100px;
    opacity: 0;
  }
}
@keyframes spark2 {
  0% {
    height: 3px;
    width: 3px;
    opacity: 0;
  }
  30% {
    opacity: 1;
  }
  100% {
    right: -20px;
    bottom: 100px;
    opacity: 0;
  }
}
@-webkit-keyframes spark3 {
  0% {
    opacity: 0;
  }
  30% {
    opacity: 1;
    height: 2px;
    width: 2px;
  }
  100% {
    left: 0px;
    bottom: 100px;
    opacity: 0;
    height: 3px;
    width: 3px;
  }
}
@keyframes spark3 {
  0% {
    opacity: 0;
  }
  30% {
    opacity: 1;
    height: 2px;
    width: 2px;
  }
  100% {
    left: 0px;
    bottom: 100px;
    opacity: 0;
    height: 3px;
    width: 3px;
  }
}
@-webkit-keyframes spark4 {
  0% {
    opacity: 0;
  }
  30% {
    opacity: 1;
    height: 2px;
    width: 2px;
  }
  100% {
    left: -20px;
    bottom: -10px;
    opacity: 0;
    height: 3px;
    width: 3px;
  }
}
@keyframes spark4 {
  0% {
    opacity: 0;
  }
  30% {
    opacity: 1;
    height: 2px;
    width: 2px;
  }
  100% {
    left: -20px;
    bottom: -10px;
    opacity: 0;
    height: 3px;
    width: 3px;
  }
}


//home loading
.lee-home {
  position: relative;
  .robot-all {
    .loading {
      position: absolute;
      left: 200px;
      top: 50px;
      height: 50px;
      .box {
        width: 20px;
        height: 20px;
        position: relative;
        border-radius: 6px;
        margin-top: 4px;
        display: inline-block;
        &.green {
          background-color: #6fb936;
        }
        &.orange {
          background-color: #f38630;
        }
        &.grey {
          background-color: #989898;
        }
      }
    }

    .robot {
      .robot-btn {
        position: fixed;
        right: 20px;
        top: 100px;
        border: 2px solid #f58021;
        padding: 5px;
        .border-radius(50%);
        opacity: .8;
        cursor: pointer;
        z-index: 1;
        span {
          width: 60px;
          height: 60px;
          line-height: 60px;
          background: rgba(255, 255, 255, 0.3);
          color: #f58021;
          text-align: center;
          font-size: 18px;
          display: block;
          .border-radius(50%);
        }
      }
      .robot-opera {
        position: absolute;
        right: 150px;
        top: 150px;
        width: 1em;
        height: auto;
        font-size: 25px;
        text-align: center;
      }
      .robot-svg {
        position: absolute;
      }
    }
  }
}
