@bgColor:#fafafa;
@themsColor:rgb(88,104,217);
@thems2Color:rgb(70,212,186);

@fontColor:@color;
@fontColor2:#616161;
@fontColor3:#aaa;
@fontColor4:#000;
@fontColor5:#707070;

@fontSize:14px;
@fontSize2:12px;
@fontSize6:16px;
@fontSize8:18px;
@fontSize20:20px;

@borderColor:#E9E9E9;
@borderColor2:#D9D9D9;

@color:#fff;

/*字体图标*/
[class^=icon-] {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

//圆角
.border-radius(@radius:2px){
  border-radius: @radius;
  -webkit-border-radius: @radius;
  -moz-border-radius: @radius;
  -ms-border-radius: @radius;
  -o-border-radius: @radius;
}

//动画
.transform(@reg:-50%){
  transform: translateX(@reg);
  -webkit-transform: translateX(@reg);
  -moz-transform: translateX(@reg);
  -ms-transform: translateX(@reg);
  -o-transform: translateX(@reg);
}

//动画
.transition(@top:top,@time:0.3s,@type:ease-in-out){
  transition: @top @time @type;
  -webkit-transition: @top @time @type;
  -moz-transition: @top @time @type;
  -ms-transition: @top @time @type;
  -o-transition: @top @time @type;
}

//省略
.text-overflow{
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.fl{float: left;}

.fr{float: right;}

/* common moudle style */
.lee-cards{
  background: @color;
  overflow: hidden;
  box-shadow: 0 1px 3px rgba(26,26,26,.1);
  box-sizing: border-box;
  margin-bottom: 20px;
  padding: 15px;
  font-size: @fontSize;
  .border-radius(4px);
}

/* moudle style */

/*login*/
.lee-login{
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 99;
  //background: #090437;
  .lee-login-bg{
    //background: url(/images/login1.png) 0 130px no-repeat;
    //background-image: url(/images/login1.png);
    background-position: 0 0;
    background-repeat: no-repeat;
    background-size: 100%;
    width: 100%;
    height: 100%;
    .lee-login-con{
      width: 660px;
      height: 400px;
      position: absolute;
      top: calc((100% - 480px)/2);
      //left: calc((100% - 660px)/2);
      text-align: center;
      .lee-login-con-l{
        width: 55%;
        height: 100%;
        float: left;
        box-shadow: -12px -12px 10px rgba(255, 255, 255, 0.6);
        opacity: .8;
        img{
          width: 100%;
          height: 100%;
        }
      }
      .lee-login-con-r{
        width: 45%;
        height: 100%;
        background: @fontColor;
        float: left;
        box-shadow: 12px 12px 10px rgba(255, 255, 255, 0.6);
        h3{
          margin: 50px 0 0;
          text-align: center;
          color: #425dbd;
          font-size: @fontSize20;
        }
        h4{
          font-size: @fontSize;
          color: @fontColor3;
          margin-bottom: 70px;
        }
        .ant-input-affix-wrapper{
          width: 80%;
          margin: 30px auto;
          display: block;
          .ant-input,.ant-input:hover,.ant-input:focus{
            border-width: 0 0 1px 0 !important;
            border-radius: 0;
            box-shadow: none;
          }
        }
        .ant-btn{
          width: 80%;
          background: #425dbd;
          text-align: center;
          border:none;
        }
        p{
          text-align: right;
          margin: 20px;
          color: #425dbd;
          text-decoration: underline;
          cursor: pointer;
        }
      }
    }
  }
}


/*home*/
.lee-home{
  width: 100%;
  color: @fontColor5;
  .lee-home-card {
    .lee-cards;
    h4 {
      text-align: left;
      border-left: 4px solid #F86C6B;
      padding-left: 5px;
      margin: 20px 0;
    }
    .step {
      .ant-steps {
        background: #fff;
      }
    }
    .lee-home-times {
      background: #fff;
      .ant-timeline-item-content {
        text-align: left;
      }
    }
    .lee-home-tabs {
      background: #fff;
      text-align: left;
      font-size: 14px;
      .lee-home-tab-title {
        color: #87d068;
        font-weight: bold;
        margin-right: 5px;
        width: 50px;
        display: inline-block;
      }
      .lee-home-tab-r {
        display: inline-block;
        .ant-tag-purple {
          margin: 10px 5px;
        }
      }
    }
    table {
      width: 100%;
      border-collapse: collapse;
      background: #fff;
      tr {
        th {
          background: @themsColor;
          height: 50px;
          line-height: 50px;
          padding-left: 10px;
          color: @color;
        }
        td {
          height: 50px;
          line-height: 50px;
          border-bottom: 1px solid @borderColor2;
          padding-left: 10px;
          .progress {
            width: 75%;
            //margin: 0 auto;
          }
          img {
            width: 40px;
            height: 40px;
            border: 1px solid @borderColor;
            .border-radius(50%);
          }
        }
      }
    }
  }
}

/*picture and music*/
.lee-image{
  -moz-column-count:5;
  -webkit-column-count:5;
  column-count:5;
  -moz-column-gap: 1em;
  -webkit-column-gap: 1em;
  column-gap: 1em;
  .lee-image-item {
    padding: 1em;
    margin: 0 0 1em 0;
    -moz-page-break-inside: avoid;
    -webkit-column-break-inside: avoid;
    break-inside: avoid;
    //border: 1px solid #000;
    .lee-cards;
    img{
      width: 100%;
    }
    h4{
      font-size: 18px;
      color: @fontColor3;
      margin-top: 8px;
    }
    p{
      font-size: @fontSize;
      color: @fontColor4;
    }
    .lee-music{
      color: @themsColor;
      .lee-music-audio{
        width: 100%;
        margin-bottom: 10px;
      }

      &>div {
        .anticon {
          width: 50px;
          text-align: left;
          font-size: 25px;
          cursor: pointer;
        }
      }
      .lee-music-l{
        width: 150px;
        float: left;
        .prev-no,.next-no{
          pointer-events: none;
          cursor: default;
          opacity: 0.6;
        }
      }
      .lee-music-r{
        width: 50px;
        float: right;
        color: #EB2F96;
        .anticon {
          text-align: right;
        }
      }

    }
  }

}

@media screen and(max-width: 1440px) {
  .lee-image {
    -moz-column-count: 4;
    -webkit-column-count: 4;
    column-count: 4;
  }
}

@media screen and(max-width: 1240px){
  .lee-image {
    -moz-column-count: 3;
    -webkit-column-count: 3;
    column-count: 3;
  }
}

@media screen and(max-width: 840px){
  .lee-image {
    -moz-column-count: 2;
    -webkit-column-count: 2;
    column-count: 2;
  }
}

/*clound player*/
.lee-clound{
  width: 100%;
  height: calc(100% - 60px);
  background: #FAFAFA;
  overflow: hidden;
  .lee-clound-l{
    width: 230px;
    height: 100%;
    background: #F5F5F7;
    //float: left;
    display: inline-block;
    color: #5C5C5C;
    overflow: auto;
    padding: 6px 0;
    .ant-input-search,.ant-select{
      margin: 0 10px 10px;
      width: calc(100% - 20px);
    }
    h4{
      font-size: 15px;
      line-height: 30px;
      padding: 0 10px;
      cursor: pointer;
      .anticon{
        font-size: 13px;
        float: right;
        line-height: 30px;
        color: #C4C4C5;
      }
    }
    p{
      font-size: 13px;
      margin-bottom: 5px;
      cursor: pointer;
      padding: 0 5px 0 25px;
      line-height: 30px;
      .text-overflow;
      &.active{
        background: #E6E7EA;
        color: @fontColor4;
        border-left: 4px solid @themsColor;
      }
      .anticon,[class^=icon-]{
        font-size: 13px;
        margin-right: 7px;
      }
    }
  }
  .lee-clound-r{
    width: calc(100% - 231px);
    height: 100%;
    overflow: auto;
    //border-left: 1px solid @borderColor;
    //float: right;
    display: inline-block;
    vertical-align: top;
    .lee-clound-r-t{
      margin: 10px;
      font-size: @fontSize6;
      span{
        font-size: @fontSize2;
        margin-left: 20px;
        color: @fontColor3;
      }
    }
  }
}

/*player list*/
.lee-player{
  .lee-player-item{
    height: 32px;
    line-height: 32px;
    background: #F5F5F7;
    color: #666666;
    &:nth-child(2n){
      background: #FAFAFA;
    }
    .lee-player-item-music{
      padding: 0 15px;
      cursor: pointer;
      height: 32px;
      line-height: 32px;
      &.active{
        background: #E3E3E5;
      }
      .lee-music-audio{
        width: 100%;
      }
      &>span{
        display: inline-block;
        vertical-align: middle;
        margin-left: 10px;
        .text-overflow;
      }
      .lee-player-item-operation{
        width: 60px;
      }
      .lee-player-item-num{
        width: 30px;
      }
      .lee-player-item-heart{
        width: 30px;
        text-align: left;
        color: rgb(205,41,41);
      }
      .lee-player-item-title{
        //width:calc(100% - 170px - 40%);
        width:calc(100% - 120px - 50%);
        color: @fontColor4;
      }
      .lee-player-item-singer{
        width: 25%;
        span {
          position: relative;
          left: 0;
          margin: 0 3px;
          /*&:after {
            content: '/';
            position: absolute;
            left: 0;
            width: 10px;
          }
          &:first-child:after{
            content: '';
          }*/
        }
      }
      .lee-player-item-album{
        width: 25%;
      }
      /*.lee-player-item-time{
        width: 50px;
      }*/

    }
    .lee-player-item-music-t{
      background: rgba(42,50,89,.7);
      color: @fontColor;
      .lee-player-item-title{
        color: @fontColor !important;
      }
    }
  }
}

/*bottom music bar*/
.lee-music-bar{
  width: 100%;
  height: 60px;
  overflow: hidden;
  background: @color;
  border-top: 1px solid @borderColor2;
  position: absolute;
  bottom: 0;
  right: 0;
  .lee-image-item {
    width: 100%;
    height: 60px;
    img{
      width: 60px;
      height: 60px;
      float: left;
    }
    .lee-music{
      background: #F6F6F8;
      width: calc(100% - 60px);
      height: 60px;
      float: left;
      color: @themsColor;
      padding-left: 20px;
      .lee-music-audio{
        width: 100%;
        margin-bottom: 10px;
      }
      .lee-music-l{
        width: auto;
        float: left;
        .lee-music-l-bot{
          .anticon {
            width: 35px;
            height: 35px;
            line-height: 37px;
            background: @themsColor;
            .border-radius(50%);
            text-align: center;
            font-size: 20px;
            cursor: pointer;
            color: @fontColor;
            margin-right: 15px;
          }
          .prev-no,.next-no{
            pointer-events: none;
            cursor: default;
            opacity: 0.6;
          }
          .lee-music-l-top{
            font-size: @fontSize;
            color: @fontColor4;
            margin-top: 5px;
            margin-bottom: 0;
            .text-overflow;
          }
          .ant-progress-inner{
            background: #ddd;
          }
        }
      }
      .lee-music-r{
        width: 160px;
        float: right;
        line-height: 60px;
        color: rgb(205,41,41);
        span {
          width: 50px;
          text-align: center;
          font-size: 20px;
          cursor: pointer;
          display: inline-block;
          vertical-align: top;
        }
        .lee-music-num{
          .anticon{
            color: #666;
          }
          span {
            background: #E1E1E2;
            display: inline-block;
            width: 25px;
            height: 18px;
            line-height: 18px;
            color: #666;
            font-size: @fontSize;
            .border-radius(0 10px 10px 0);
            vertical-align: 2px;
            font-size: 14px;
            margin-left: -1px;
          }
        }
      }
    }
  }
}

/*current player list history*/
.lee-music-profile{
  width: 400px;
  max-height: 300px;
  overflow: hidden;
  position: fixed;
  right: 10px;
  bottom: 60px;
  background: #FAFAFA;
  box-shadow: 2px 2px 10px rgba(0,0,0,.5);
  color: @fontColor4;
  padding-bottom: 10px;
  .border-radius(2px);
  .lee-music-profile-title{
    background: #F4F4F6;
    text-align: center;
    line-height: 40px;
    border-bottom: 1px solid @borderColor2;
    .anticon{
      float: right;
      line-height: 40px;
      padding-right: 10px;
      color: #666;
      font-size: @fontSize6;
      cursor: pointer;
    }
  }
  p{
    margin-bottom: 0;
  }
  .lee-music-profile-opera{
    line-height: 30px;
    padding: 0 10px 0 30px;
    color: #666;
    span{
      width: calc(100% - 4em);
      display: inline-block;
      &:last-child{
        width: 4em;
        text-align: right;
        i{
          margin-left: 5px;
        }
      }
    }
  }
  .lee-music-profile-list {
    width: 100%;
    max-height: calc(300px - 80px);
    overflow: auto;
    div {
      height: 32px;
      line-height: 32px;
      background: #F5F5F7;
      color: #666;
      padding: 0 10px;
      &:nth-child(2n) {
        background: #FAFAFA;
      }
      & > span {
        display: inline-block;
        vertical-align: middle;
        padding-right: 10px;
      }
      .lee-music-profile-status {
        width: 20px;
        padding-right: 0;
        .anticon {
          color: red;
        }
      }
      .lee-music-profile-name {
        width: 50%;
        cursor: pointer;
        .text-overflow;
      }
      .lee-music-profile-singer {
        width: calc(50% - 30px);
        color: @fontColor3;
        .text-overflow;
      }
      .lee-music-profile-del {
        width: 30px;
        text-align: right;
        color: red;
        padding-right: 0;
      }
    }
  }
}

/* music volume */
.lee-music-volume{
  height: 300px;
  overflow: hidden;
  position: fixed;
  right: 120px;
  bottom: 35px;
  padding: 20px 0;
  .ant-slider{
    &:focus{
      outline: none;
    }
    .ant-slider-rail {
        background: #666c88;
    }
    .ant-slider-track{
      background-color: #cd2929;
    }
    .ant-slider-handle{
      border: 2px solid #cd2929;
      &:focus{
        box-shadow: 0 0 0 2px #cd2929;
      }
    }
  }
}

/*lee-echat*/
.lee-echat{
  width: 100%;
  ul{
    li{
      width: calc(50% - 8px);
      float: left;
      margin-right: 8px;
      .lee-cards;
      &:nth-child(2n){
        margin-left: 8px;
        margin-right: 0;
      }
      .lee-hy-item-card{
        h3{
          margin-bottom: 0;
        }
        .lee-hy-item-card-con{
          padding: 20px;
        }
      }
    }
  }
}

/*lee-leave*/
.lee-leave{
  width: 100%;
  height: 100%;
  background: #fff;
  overflow: hidden;
  .border-radius(2px);
  .lee-leave-l{
    width: 250px;
    height: 100%;
    display: inline-block;
    padding: 10px;
    border-right: 1px solid #ECEFF1;
    input{
      width: 230px;
    }
    ul{
      li{
        border-bottom: 1px solid #ECEFF1;
        text-align: left;
        padding-left: 10px;
        h3{
          margin: 10px 0;
        }
        p{
          font-size: 12px;
          color: @themsColor;
        }
      }
    }
  }
  .lee-leave-r{
    width: calc(100% - 250px);
    display: inline-block;
    padding: 10px;
    vertical-align: top;

    /*lee-leave*/
    .lee-leave-edit{
      input[type=checkbox]{
        border: none;
        -webkit-appearance: none;
        vertical-align: text-bottom;
        width: 20px;
        height: 20px;
        background-image: url(images/note/check.png);
        background-size: 100% 100%;
        &:checked:before{
          content: " ";
          position: absolute;
          width: 20px;
          height: 20px;
          background-image: url(images/note/checked.png);
          background-size: 100% 100%;
        }
      }
      .lee-leave-header{
        background: #fff;
        padding: 10px 10px 20px;
      }
      .lee-leave-main{
        text-align: left;
        background: #fff;
        padding: 15px;
        .ant-timeline-item-content{
          div{
            display: inline-block;
          }
          span{
            margin-left: 10px;
          }
          .title{
            font-size: 15px;
            font-weight: bold;
          }
          .date{
            margin-left: 30px;
            color:#000;
          }
          img{
            position: absolute;
            right: 0;
            top: -10px;
          }
          .ant-btn{
            background: #f77e1c;
            border-color: #f77e1c;
            position: absolute;
            right: 45px;
            top: 0;
            width: 20px;
            height: 20px;
            line-height: 20px;
          }
          p{
            margin-left: 20px;
            margin-top: 10px;
            min-height: 60px;
            padding: 5px 10px;
            background: rgba(236,246,253,.5);
          }
        }
      }
      .lee-leave-footer{
        background: #fff;
        text-align: left;
        padding: 10px 10px 20px 10px;
        position: relative;
        &>span{
          margin:0 10px;
          color: @fontColor4;
        }
        .ant-btn {
          color: #0891ff;
          background-color: #fff;
          border-color: #0891ff;
          padding: 0 5px;
          position: absolute;
          right: 10px;
          top: 5px;
        }
      }
    }
  }
}

/*lee Tenement*/
.lee-wy{
  color: @fontColor5;
  .lee-wy-top{
    .wy-color{color: #67A8FF;}
    .wy-color2{color: #0FB7CF;}
    .wy-color3{color: #FEB50C;}
    .wy-color4{color: #FF0203;}
    .lee-wy-top-item{
      .lee-cards;
      width: 24%;
      float: left;
      margin-right: 1.33333%;
      padding: 25px 50px;
      &:last-child{
        margin-right: 0;
      }
      .lee-wy-top-item-l{
        padding: 6px 0 0;
        .anticon{
          font-size: 40px;
          font-weight: normal;
        }
      }
      .lee-wy-top-item-r{
        h3{
          text-align: center;
          font-size: @fontSize;
          color: @fontColor2;
          margin-bottom: 0;
        }
        p{
          font-size: @fontSize20;
          text-align: center;
          font-weight: bold;
          margin-bottom: 0;
          line-height: 35px;
        }
      }
    }
  }
  .lee-wy-con{
    clear: both;
    .lee-wy-con-l{
      width: 74.5%;
      display: inline-block;
      margin-right: 1.5%;
      .lee-cards;
    }
    .lee-wy-con-r{
      width: 24%;
      display: inline-block;
      vertical-align: top;
      .lee-cards;
      height: 380px;
      h4{
        color: @fontColor3;
        font-size: @fontSize6;
        margin-bottom: 10px;
      }
      &>div{
        width: 100%;
        text-align: center;
        height: 295px;
        padding-top: 50px;
        .ant-progress-circle-path{
          stroke: #6AAAFE;
        }
        .lee-wy-con-r-pro{
          p{
            margin: 0 0 10px 0;
            font-size: 1em;
          }
        }
      }
      .lee-wy-con-r-title{
        width: 100%;
        span{
          color: @fontColor4;
          display: inline-block;
          &:first-child{
            width: 60%;
          }
          em{
            width: 15px;
            height: 15px;
            background: #67A8FF;
            display: inline-block;
            vertical-align: sub;
            margin-right: 10px;
          }
        }
      }
    }
  }
  .lee-wy-bot{
    .lee-wy-bot-item{
      width: 49%;
      margin-right: 2%;
      float: left;
      .lee-cards;
      &:last-child{
        margin-right: 0;
      }
      h4{
        color: @fontColor3;
        font-size: @fontSize;
        margin-bottom: 10px;
      }
      ul{
        width: 100%;
        li{
          width: 100%;
          height: 40px;
          line-height: 40px;
          padding: 0 10px;
          &.pending{
            span:last-child{
              color: #67A8FF;
            }
          }
          &.active{
            background: #F0F7FF;
            span:last-child{
              color: red;
            }
          }
          span{
            display: inline-block;
            width: calc((100% - 160px)/2);
            &:first-child{
              width: 100px;
            }
            &:last-child{
              width: 60px;
            }
          }
        }
      }
    }
  }
}

.lee-hy{
  -moz-column-count:2;
  -webkit-column-count:2;
  column-count:2;

  -moz-column-gap: 1em;
  -webkit-column-gap: 1em;
  column-gap: 1em;

  .lee-hy-item {
    width: 100%;
    float: left;

    -moz-page-break-inside: avoid;
    -webkit-column-break-inside: avoid;
    break-inside: avoid;

    img{
      width: 100%;
      margin-bottom:10px;
    }

    .lee-hy-item-card{
      width: 100%;
      margin-bottom: 20px;
      overflow: hidden;
      box-shadow: 0 1px 3px rgba(26,26,26,.1);
      //box-sizing: border-box;
      font-size: @fontSize;
      .border-radius(4px);
      .lee-hy-item-card-title{
        height: 40px;
        line-height: 40px;
        padding: 0 20px;
        background: @themsColor;
        color: @fontColor;
        font-size: 14px;
        span{
          font-size: @fontSize;
        }
        .lee-hy-item-card-title-text{
          font-size: 12px;
          margin-left: 10px;
        }
        .lee-hy-item-card-op-r{
          float: right;
          color: @color;
          font-size: 14px;
          cursor: pointer;
          i{
            padding-left: 7px;
            font-size: 12px;
          }
        }
      }
      .lee-hy-item-card-con{
        background: @color;
        color: @fontColor2;
        font-size: 14px;
        .lee-hy-item-card-con-text{
          .lee-hy-item-card-con-text-title{
            background: @themsColor;
            background: -webkit-linear-gradient(left,rgba(@themsColor,.3), rgba(@themsColor,1)); /* Safari 5.1 - 6.0 */
            background: -o-linear-gradient(right,rgba(@themsColor,.3), rgba(@themsColor,1)); /* Opera 11.1 - 12.0 */
            background: -moz-linear-gradient(right, rgba(@themsColor,.3), rgba(@themsColor,1)); /* Firefox 3.6 - 15 */
            background: linear-gradient(to right, rgba(@themsColor,.3), rgba(@themsColor,1)); /* 标准的语法 */
            color: @color;
            padding: 20px;
            &>span{
              width: 30px;
              font-size: 18px;
              display: inline-block;
            }
            &>div{
              display: inline-block;
              width: calc(100% - 30px);
              vertical-align: text-top;
              p{
                margin-bottom: 3px;
                .anticon{
                  margin-right: 10px;
                }
                span{
                  margin-left: 20px;
                }
              }
            }
          }
          .lee-hy-item-card-con-text-li{
            padding: 10px 20px;
            .anticon{
              margin-right: 15px;
            }
          }
        }

        .lee-hy-item-input{
          padding-bottom: 20px;
          .lee-hy-form{
            .ant-form-item{
              margin-bottom: 10px;
            }
          }
        }
      }
    }
  }

}

.lee-intro{
  .intro-c1{background: #84D991};
  .intro-ch1{background: #DFF0E1};

  .intro-c2{background: #58BBEE};
  .intro-ch2{background: #E3F4FC};

  .intro-c3{background: #FFD8AC};
  .intro-ch3{background: #FEF5EB};

  .intro-c4{background: #80D7D9};
  .intro-ch4{background: #D7F1F2};

  .lee-intro-con{
    height: 235px;
    .lee-intro-con-l{
      width: 70%;
      position: relative;
      .lee-cards;
      float: left;
      .lee-intro-con-l-t {
        img {
          width: 100px;
          height: 100px;
          .border-radius(50%);
          display: inline-block;
          vertical-align: top;
        }
        .lee-intro-con-l-msg {
          display: inline-block;
          padding-left: 30px;
          color: #aaa;
          h4 {
            font-size: @fontSize20;
            margin-bottom: 0;
            .anticon {
              margin-left: 8px;
              color: #EB2F96;
            }
          }
          p {
            font-size: @fontSize;
            margin-bottom: 0;
            line-height: 25px;
            .anticon {
              margin-right: 8px;
            }
          }
        }
      }
      .lee-intro-con-l-b{
        width: 100%;
        margin-top: 20px;
        div{
          width: 20%;
          float: left;
          padding: 10px 0;
          p{
            text-align: center;
            font-size: @fontSize6;
            line-height: 30px;
            margin-bottom: 0;
            &:first-child{
              font-size: 25px;
            }
          }
          &:first-child{
            background: #58BBEE;
          }
          &:nth-child(2){
            background: #75C181;
          }
          &:nth-child(3){
            background: #F77B6B;
          }
          &:nth-child(4){
            background: #F8A13F;
          }
          &:last-child{
            background: #8A40A7;
          }
        }
      }
      .lee-intro-con-l-r{
        position: absolute;
        right: 15px;
        top: 15px;
      }
    }
    .lee-intro-con-r{
      .lee-cards;
      width: 28%;
      height: 235px;
      float: right;
      color: @fontColor4;
    }
  }

  .lee-intro-bot{
    position: relative;
    width: 100%;
    height: 450px;
    margin: 25px 0;
    overflow: hidden;
    .lee-intro-bot-img {
      width: 100%;
      height: 100%;
      &:hover {
        img {
          opacity: 0.6;
          -webkit-transform: scale3d(1, 1, 1);
          transform: scale3d(1, 1, 1);
        }
        figcaption::before {
          left: -100px;
          -webkit-transform: scale3d(1.9,1.4,1) rotate3d(0,0,1,45deg) translate3d(0,100%,0);
          transform: scale3d(1.9,1.4,1) rotate3d(0,0,1,45deg) translate3d(0,100%,0);
        }
        h2{
          opacity: 1;
          -webkit-transition-delay: 0.1s;
          transition-delay: 0.1s;
        }
      }
      img {
        width: 100%;
        height: 104%;
        opacity: 0.95;
        -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
        transition: opacity 0.35s, transform 0.35s;
        -webkit-transform: scale3d(1.05,1.05,1);
        transform: scale3d(1.05,1.05,1);
      }
      figcaption{
        &::before{
          position: absolute;
          right: -100%;
          top: 0;
          width: 100%;
          height: 100%;
          background: rgba(255,255,255,0.5);
          content: '';
          -webkit-transition: -webkit-transform 0.6s;
          transition: transform 0.6s;
          -webkit-transform: scale3d(1.9,1.4,1) rotate3d(0,0,1,45deg) translate3d(0,-100%,0);
          transform: scale3d(1.9,1.4,1) rotate3d(0,0,1,45deg) translate3d(0,-100%,0);
        }
        h2{
          position: absolute;
          left: 0;
          bottom: 0;
          margin: 20px;
          opacity: 0;
          -webkit-transition: opacity 0.35s;
          transition: opacity 0.35s;
          color: @fontColor;
        }
      }
    }

    .lee-intro-bot-img2{
      width: 100%;
      height: 100%;
      img{
        width: 25%;
        height: 100%;
        .border-radius(2px 0 0 2px);
        &:last-child{
          .border-radius(0 2px 2px 0);
        }
      }
    }

    .animation{
      width: calc(70% - 60px);
      height: calc(100% - 60px);
      position: absolute;
      top: 0;
      left: 0;
      opacity: 0;
      margin: 30px;
      border: 2px solid #fff;
      -webkit-transition: opacity 1.35s, -webkit-transform 1.35s;
      transition: opacity 1.35s, transform 1.35s;
      box-shadow: 0 0 0 30px rgba(255,255,255,0.2);
    }
    .lee-intro-bot-img3{
      width: 100%;
      height: 100%;
      figure{
        width: 70%;
        height: 105%;
        display: inline-block;
        vertical-align: top;
        img{
          width: 100%;
          height: 105%;
          .border-radius(2px 0 0 2px);
        }
        figcaption{
          .animation;
          h2{
            text-align: center;
            margin-top: 100px;
            font-size: 28px;
            font-weight: normal;
            color: @fontColor;
          }
          p{
            padding: 20px;
            width: 50%;
            margin: 0 auto;
            text-align: center;
            -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
            transition: opacity 1.35s, transform 1.35s;
            -webkit-transform: scale(1.5);
            transform: scale(1.5);
            opacity: 0;
          }
        }
        &:hover{
          img{
            width: 150%;
            height: 100%;
            opacity: .6;
          }
          figcaption{
            .animation;
            opacity: 1;
            p{
              opacity: 1;
              -webkit-transform: scale3d(1,1,1);
              transform: scale3d(1,1,1);
            }
          }
        }
      }
      img{
        .border-radius(0 2px 2px 0);
        width: 30%;
      }
    }

    .lee-intro-bot-opera{
      position: absolute;
      right: 10px;
      top: 18px;
      z-index: 99;
      span{
        display: inline-block;
        width: 15px;
        height: 15px;
        cursor: pointer;
        .border-radius(50%);
        margin-right: 5px;
        background: #F8A13F;
        &:first-child{
          background: #F77B6B;
        }
        &:last-child{
          background: #8A40A7;
        }
      }
    }
  }

  .lee-intro-top{
    height: 80px;
    clear: both;
    .lee-intro-top-item{
      width: calc((100% - 30px)/4);
      height: 80px;
      margin-right: 10px;
      float: left;
      .border-radius(3px);
      &:first-child{
        .intro-ch1;
        .lee-intro-t-l{
          .intro-c1;
        }
        .lee-intro-t-r{
          color: #84D991;
        }
      }
      &:nth-child(2){
        .intro-ch2;
        .lee-intro-t-l{
          .intro-c2;
        }
        .lee-intro-t-r{
          color: #58BBEE;
        }
      }
      &:nth-child(3){
        .intro-ch3;
        .lee-intro-t-l{
          .intro-c3;
        }
        .lee-intro-t-r{
          color: #FFD8AC;
        }
      }
      &:last-child{
        .intro-ch4;
        margin-right: 0;
        .lee-intro-t-l{
          .intro-c4;
        }
        .lee-intro-t-r{
          color: #80D7D9;
        }
      }
      .lee-intro-t-l{
        width: 80px;
        height: 80px;
        text-align: center;
        display: inline-block;
        vertical-align: top;
        color: @fontColor;
        .border-radius(3px 0 0 3px);
        .anticon{
          font-size: 55px;
          line-height: 80px;
        }
      }
      .lee-intro-t-r{
        display: inline-block;
        div{
          font-size: @fontSize6;
          padding-left: 20px;
          &:first-child{
            font-size: 26px;
            margin-top: 5px;
          }
        }
      }
    }
  }
}
