/*字体图标*/
[class^=icon-] {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.text-overflow {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.fl {
  float: left;
}
.fr {
  float: right;
}
/* 模块公共样式 */
.lee-cards {
  background: #fff;
  overflow: hidden;
  box-shadow: 0 1px 3px rgba(26, 26, 26, 0.1);
  box-sizing: border-box;
  margin-bottom: 20px;
  padding: 15px;
  font-size: 14px;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
}
/* 模块样式 */
/*home*/
.lee-home {
  width: 100%;
  color: #707070;
}
.lee-home .lee-home-card {
  background: #fff;
  overflow: hidden;
  box-shadow: 0 1px 3px rgba(26, 26, 26, 0.1);
  box-sizing: border-box;
  margin-bottom: 20px;
  padding: 15px;
  font-size: 14px;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
}
.lee-home .lee-home-card h4 {
  text-align: left;
  border-left: 4px solid #F86C6B;
  padding-left: 5px;
  margin: 20px 0;
}
.lee-home .lee-home-card .step .ant-steps {
  background: #fff;
}
.lee-home .lee-home-card .lee-home-times {
  background: #fff;
}
.lee-home .lee-home-card .lee-home-times .ant-timeline-item-content {
  text-align: left;
}
.lee-home .lee-home-card .lee-home-tabs {
  background: #fff;
  text-align: left;
  font-size: 14px;
}
.lee-home .lee-home-card .lee-home-tabs .lee-home-tab-title {
  color: #87d068;
  font-weight: bold;
  margin-right: 5px;
  width: 50px;
  display: inline-block;
}
.lee-home .lee-home-card .lee-home-tabs .lee-home-tab-r {
  display: inline-block;
}
.lee-home .lee-home-card .lee-home-tabs .lee-home-tab-r .ant-tag-purple {
  margin: 10px 5px;
}
.lee-home .lee-home-card table {
  width: 100%;
  border-collapse: collapse;
  background: #fff;
}
.lee-home .lee-home-card table tr th {
  background: #5868d9;
  height: 50px;
  line-height: 50px;
  padding-left: 10px;
  color: #fff;
}
.lee-home .lee-home-card table tr td {
  height: 50px;
  line-height: 50px;
  border-bottom: 1px solid #D9D9D9;
  padding-left: 10px;
}
.lee-home .lee-home-card table tr td .progress {
  width: 75%;
}
.lee-home .lee-home-card table tr td img {
  width: 40px;
  height: 40px;
  border: 1px solid #E9E9E9;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
/*picture and music*/
.lee-image {
  -moz-column-count: 5;
  -webkit-column-count: 5;
  column-count: 5;
  -moz-column-gap: 1em;
  -webkit-column-gap: 1em;
  column-gap: 1em;
}
.lee-image .lee-image-item {
  padding: 1em;
  margin: 0 0 1em 0;
  -moz-page-break-inside: avoid;
  -webkit-column-break-inside: avoid;
  break-inside: avoid;
  background: #fff;
  overflow: hidden;
  box-shadow: 0 1px 3px rgba(26, 26, 26, 0.1);
  box-sizing: border-box;
  margin-bottom: 20px;
  padding: 15px;
  font-size: 14px;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
}
.lee-image .lee-image-item img {
  width: 100%;
}
.lee-image .lee-image-item h4 {
  font-size: 18px;
  color: #aaa;
  margin-top: 8px;
}
.lee-image .lee-image-item p {
  font-size: 14px;
  color: #000;
}
.lee-image .lee-image-item .lee-music {
  color: #5868d9;
}
.lee-image .lee-image-item .lee-music .lee-music-audio {
  width: 100%;
  margin-bottom: 10px;
}
.lee-image .lee-image-item .lee-music > div .anticon {
  width: 50px;
  text-align: left;
  font-size: 25px;
  cursor: pointer;
}
.lee-image .lee-image-item .lee-music .lee-music-l {
  width: 150px;
  float: left;
}
.lee-image .lee-image-item .lee-music .lee-music-l .prev-no,
.lee-image .lee-image-item .lee-music .lee-music-l .next-no {
  pointer-events: none;
  cursor: default;
  opacity: 0.6;
}
.lee-image .lee-image-item .lee-music .lee-music-r {
  width: 50px;
  float: right;
  color: #EB2F96;
}
.lee-image .lee-image-item .lee-music .lee-music-r .anticon {
  text-align: right;
}
@media screen and (max-width: 1440px) {
  .lee-image {
    -moz-column-count: 4;
    -webkit-column-count: 4;
    column-count: 4;
  }
}
@media screen and (max-width: 1240px) {
  .lee-image {
    -moz-column-count: 3;
    -webkit-column-count: 3;
    column-count: 3;
  }
}
@media screen and (max-width: 840px) {
  .lee-image {
    -moz-column-count: 2;
    -webkit-column-count: 2;
    column-count: 2;
  }
}
/*clound player*/
.lee-clound {
  width: 100%;
  height: calc(100% - 60px);
  background: #FAFAFA;
  overflow: hidden;
}
.lee-clound .lee-clound-l {
  width: 230px;
  height: 100%;
  background: #F5F5F7;
  display: inline-block;
  color: #5C5C5C;
  overflow: auto;
  padding: 6px 0;
}
.lee-clound .lee-clound-l .ant-input-search,
.lee-clound .lee-clound-l .ant-select {
  margin: 0 10px 10px;
  width: calc(100% - 20px);
}
.lee-clound .lee-clound-l h4 {
  font-size: 15px;
  line-height: 30px;
  padding: 0 10px;
  cursor: pointer;
}
.lee-clound .lee-clound-l h4 .anticon {
  font-size: 13px;
  float: right;
  line-height: 30px;
  color: #C4C4C5;
}
.lee-clound .lee-clound-l p {
  font-size: 13px;
  margin-bottom: 5px;
  cursor: pointer;
  padding: 0 5px 0 25px;
  line-height: 30px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.lee-clound .lee-clound-l p.active {
  background: #E6E7EA;
  color: #000;
  border-left: 4px solid #5868d9;
}
.lee-clound .lee-clound-l p .anticon,
.lee-clound .lee-clound-l p [class^=icon-] {
  font-size: 13px;
  margin-right: 7px;
}
.lee-clound .lee-clound-r {
  width: calc(100% - 231px);
  height: 100%;
  overflow: auto;
  display: inline-block;
  vertical-align: top;
}
.lee-clound .lee-clound-r .lee-clound-r-t {
  margin: 10px;
  font-size: 16px;
}
.lee-clound .lee-clound-r .lee-clound-r-t span {
  font-size: 12px;
  margin-left: 20px;
  color: #aaa;
}
/*player list*/
.lee-player .lee-player-item {
  height: 32px;
  line-height: 32px;
  background: #F5F5F7;
  color: #666666;
}
.lee-player .lee-player-item:nth-child(2n) {
  background: #FAFAFA;
}
.lee-player .lee-player-item .lee-player-item-music {
  padding: 0 15px;
  cursor: pointer;
  height: 32px;
  line-height: 32px;
  /*.lee-player-item-time{
        width: 50px;
      }*/
}
.lee-player .lee-player-item .lee-player-item-music.active {
  background: #E3E3E5;
}
.lee-player .lee-player-item .lee-player-item-music .lee-music-audio {
  width: 100%;
}
.lee-player .lee-player-item .lee-player-item-music > span {
  display: inline-block;
  vertical-align: middle;
  margin-left: 10px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.lee-player .lee-player-item .lee-player-item-music .lee-player-item-operation {
  width: 60px;
}
.lee-player .lee-player-item .lee-player-item-music .lee-player-item-num {
  width: 30px;
}
.lee-player .lee-player-item .lee-player-item-music .lee-player-item-heart {
  width: 30px;
  text-align: left;
  color: #cd2929;
}
.lee-player .lee-player-item .lee-player-item-music .lee-player-item-title {
  width: calc(100% - 120px - 50%);
  color: #000;
}
.lee-player .lee-player-item .lee-player-item-music .lee-player-item-singer {
  width: 25%;
}
.lee-player .lee-player-item .lee-player-item-music .lee-player-item-singer span {
  position: relative;
  left: 0;
  margin: 0 3px;
  /*&:after {
            content: '/';
            position: absolute;
            left: 0;
            width: 10px;
          }
          &:first-child:after{
            content: '';
          }*/
}
.lee-player .lee-player-item .lee-player-item-music .lee-player-item-album {
  width: 25%;
}
.lee-player .lee-player-item .lee-player-item-music-t {
  background: rgba(42, 50, 89, 0.7);
  color: #fff;
}
.lee-player .lee-player-item .lee-player-item-music-t .lee-player-item-title {
  color: #fff !important;
}
/*bottom music bar*/
.lee-music-bar {
  width: 100%;
  height: 60px;
  overflow: hidden;
  background: #fff;
  border-top: 1px solid #D9D9D9;
  position: absolute;
  bottom: 0;
  right: 0;
}
.lee-music-bar .lee-image-item {
  width: 100%;
  height: 60px;
}
.lee-music-bar .lee-image-item img {
  width: 60px;
  height: 60px;
  float: left;
}
.lee-music-bar .lee-image-item .lee-music {
  background: #F6F6F8;
  width: calc(100% - 60px);
  height: 60px;
  float: left;
  color: #5868d9;
  padding-left: 20px;
}
.lee-music-bar .lee-image-item .lee-music .lee-music-audio {
  width: 100%;
  margin-bottom: 10px;
}
.lee-music-bar .lee-image-item .lee-music .lee-music-l {
  width: auto;
  float: left;
}
.lee-music-bar .lee-image-item .lee-music .lee-music-l .lee-music-l-bot .anticon {
  width: 35px;
  height: 35px;
  line-height: 37px;
  background: #5868d9;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  text-align: center;
  font-size: 20px;
  cursor: pointer;
  color: #fff;
  margin-right: 15px;
}
.lee-music-bar .lee-image-item .lee-music .lee-music-l .lee-music-l-bot .prev-no,
.lee-music-bar .lee-image-item .lee-music .lee-music-l .lee-music-l-bot .next-no {
  pointer-events: none;
  cursor: default;
  opacity: 0.6;
}
.lee-music-bar .lee-image-item .lee-music .lee-music-l .lee-music-l-bot .lee-music-l-top {
  font-size: 14px;
  color: #000;
  margin-top: 5px;
  margin-bottom: 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.lee-music-bar .lee-image-item .lee-music .lee-music-l .lee-music-l-bot .ant-progress-inner {
  background: #ddd;
}
.lee-music-bar .lee-image-item .lee-music .lee-music-r {
  width: 130px;
  float: right;
  line-height: 60px;
  color: #cd2929;
}
.lee-music-bar .lee-image-item .lee-music .lee-music-r span {
  width: 50px;
  text-align: center;
  font-size: 20px;
  cursor: pointer;
  display: inline-block;
  vertical-align: top;
}
.lee-music-bar .lee-image-item .lee-music .lee-music-r .lee-music-num .anticon {
  color: #666;
}
.lee-music-bar .lee-image-item .lee-music .lee-music-r .lee-music-num span {
  background: #E1E1E2;
  display: inline-block;
  width: 25px;
  height: 18px;
  line-height: 18px;
  color: #666;
  border-radius: 0 10px 10px 0;
  -webkit-border-radius: 0 10px 10px 0;
  -moz-border-radius: 0 10px 10px 0;
  -ms-border-radius: 0 10px 10px 0;
  -o-border-radius: 0 10px 10px 0;
  vertical-align: 2px;
  font-size: 14px;
  margin-left: -1px;
}
/*current player list history*/
.lee-music-profile {
  width: 400px;
  max-height: 300px;
  overflow: hidden;
  position: fixed;
  right: 10px;
  bottom: 60px;
  background: #FAFAFA;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
  color: #000;
  padding-bottom: 10px;
  border-radius: 2px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
}
.lee-music-profile .lee-music-profile-title {
  background: #F4F4F6;
  text-align: center;
  line-height: 40px;
  border-bottom: 1px solid #D9D9D9;
}
.lee-music-profile .lee-music-profile-title .anticon {
  float: right;
  line-height: 40px;
  padding-right: 10px;
  color: #666;
  font-size: 16px;
  cursor: pointer;
}
.lee-music-profile p {
  margin-bottom: 0;
}
.lee-music-profile .lee-music-profile-opera {
  line-height: 30px;
  padding: 0 10px 0 30px;
  color: #666;
}
.lee-music-profile .lee-music-profile-opera span {
  width: calc(100% - 4em);
  display: inline-block;
}
.lee-music-profile .lee-music-profile-opera span:last-child {
  width: 4em;
  text-align: right;
}
.lee-music-profile .lee-music-profile-opera span:last-child i {
  margin-left: 5px;
}
.lee-music-profile .lee-music-profile-list {
  width: 100%;
  max-height: calc(300px - 80px);
  overflow: auto;
}
.lee-music-profile .lee-music-profile-list div {
  height: 32px;
  line-height: 32px;
  background: #F5F5F7;
  color: #666;
  padding: 0 10px;
}
.lee-music-profile .lee-music-profile-list div:nth-child(2n) {
  background: #FAFAFA;
}
.lee-music-profile .lee-music-profile-list div > span {
  display: inline-block;
  vertical-align: middle;
  padding-right: 10px;
}
.lee-music-profile .lee-music-profile-list div .lee-music-profile-status {
  width: 20px;
  padding-right: 0;
}
.lee-music-profile .lee-music-profile-list div .lee-music-profile-status .anticon {
  color: red;
}
.lee-music-profile .lee-music-profile-list div .lee-music-profile-name {
  width: 50%;
  cursor: pointer;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.lee-music-profile .lee-music-profile-list div .lee-music-profile-singer {
  width: calc(50% - 30px);
  color: #aaa;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.lee-music-profile .lee-music-profile-list div .lee-music-profile-del {
  width: 30px;
  text-align: right;
  color: red;
  padding-right: 0;
}
/*lee-echat*/
.lee-echat {
  width: 100%;
}
.lee-echat ul li {
  width: calc(50% - 8px);
  float: left;
  margin-right: 8px;
  background: #fff;
  overflow: hidden;
  box-shadow: 0 1px 3px rgba(26, 26, 26, 0.1);
  box-sizing: border-box;
  margin-bottom: 20px;
  padding: 15px;
  font-size: 14px;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
}
.lee-echat ul li:nth-child(2n) {
  margin-left: 8px;
  margin-right: 0;
}
.lee-echat ul li .lee-hy-item-card h3 {
  margin-bottom: 0;
}
.lee-echat ul li .lee-hy-item-card .lee-hy-item-card-con {
  padding: 20px;
}
/*lee-leave*/
.lee-leave {
  width: 100%;
  height: 100%;
  background: #fff;
  overflow: hidden;
  border-radius: 2px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
}
.lee-leave .lee-leave-l {
  width: 250px;
  height: 100%;
  display: inline-block;
  padding: 10px;
  border-right: 1px solid #ECEFF1;
}
.lee-leave .lee-leave-l input {
  width: 230px;
}
.lee-leave .lee-leave-l ul li {
  border-bottom: 1px solid #ECEFF1;
  text-align: left;
  padding-left: 10px;
}
.lee-leave .lee-leave-l ul li h3 {
  margin: 10px 0;
}
.lee-leave .lee-leave-l ul li p {
  font-size: 12px;
  color: #5868d9;
}
.lee-leave .lee-leave-r {
  width: calc(100% - 250px);
  display: inline-block;
  padding: 10px;
  vertical-align: top;
  /*lee-leave*/
}
.lee-leave .lee-leave-r .lee-leave-edit input[type=checkbox] {
  border: none;
  -webkit-appearance: none;
  vertical-align: text-bottom;
  width: 20px;
  height: 20px;
  background-image: url(./images/check.png);
  background-size: 100% 100%;
}
.lee-leave .lee-leave-r .lee-leave-edit input[type=checkbox]:checked:before {
  content: " ";
  position: absolute;
  width: 20px;
  height: 20px;
  background-image: url(./images/checked.png);
  background-size: 100% 100%;
}
.lee-leave .lee-leave-r .lee-leave-edit .lee-leave-header {
  background: #fff;
  padding: 10px 10px 20px;
}
.lee-leave .lee-leave-r .lee-leave-edit .lee-leave-main {
  text-align: left;
  background: #fff;
  padding: 15px;
}
.lee-leave .lee-leave-r .lee-leave-edit .lee-leave-main .ant-timeline-item-content div {
  display: inline-block;
}
.lee-leave .lee-leave-r .lee-leave-edit .lee-leave-main .ant-timeline-item-content span {
  margin-left: 10px;
}
.lee-leave .lee-leave-r .lee-leave-edit .lee-leave-main .ant-timeline-item-content .title {
  font-size: 15px;
  font-weight: bold;
}
.lee-leave .lee-leave-r .lee-leave-edit .lee-leave-main .ant-timeline-item-content .date {
  margin-left: 30px;
  color: #000;
}
.lee-leave .lee-leave-r .lee-leave-edit .lee-leave-main .ant-timeline-item-content img {
  position: absolute;
  right: 0;
  top: -10px;
}
.lee-leave .lee-leave-r .lee-leave-edit .lee-leave-main .ant-timeline-item-content .ant-btn {
  background: #f77e1c;
  border-color: #f77e1c;
  position: absolute;
  right: 45px;
  top: 0;
  width: 20px;
  height: 20px;
  line-height: 20px;
}
.lee-leave .lee-leave-r .lee-leave-edit .lee-leave-main .ant-timeline-item-content p {
  margin-left: 20px;
  margin-top: 10px;
  min-height: 60px;
  padding: 5px 10px;
  background: rgba(236, 246, 253, 0.5);
}
.lee-leave .lee-leave-r .lee-leave-edit .lee-leave-footer {
  background: #fff;
  text-align: left;
  padding: 10px 10px 20px 10px;
  position: relative;
}
.lee-leave .lee-leave-r .lee-leave-edit .lee-leave-footer > span {
  margin: 0 10px;
  color: #000;
}
.lee-leave .lee-leave-r .lee-leave-edit .lee-leave-footer .ant-btn {
  color: #0891ff;
  background-color: #fff;
  border-color: #0891ff;
  padding: 0 5px;
  position: absolute;
  right: 10px;
  top: 5px;
}
/*lee Tenement*/
.lee-wy {
  color: #707070;
}
.lee-wy .lee-wy-top .wy-color {
  color: #67A8FF;
}
.lee-wy .lee-wy-top .wy-color2 {
  color: #0FB7CF;
}
.lee-wy .lee-wy-top .wy-color3 {
  color: #FEB50C;
}
.lee-wy .lee-wy-top .wy-color4 {
  color: #FF0203;
}
.lee-wy .lee-wy-top .lee-wy-top-item {
  background: #fff;
  overflow: hidden;
  box-shadow: 0 1px 3px rgba(26, 26, 26, 0.1);
  box-sizing: border-box;
  margin-bottom: 20px;
  padding: 15px;
  font-size: 14px;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  width: 24%;
  float: left;
  margin-right: 1.33333%;
  padding: 25px 50px;
}
.lee-wy .lee-wy-top .lee-wy-top-item:last-child {
  margin-right: 0;
}
.lee-wy .lee-wy-top .lee-wy-top-item .lee-wy-top-item-l {
  padding: 6px 0 0;
}
.lee-wy .lee-wy-top .lee-wy-top-item .lee-wy-top-item-l .anticon {
  font-size: 40px;
  font-weight: normal;
}
.lee-wy .lee-wy-top .lee-wy-top-item .lee-wy-top-item-r h3 {
  text-align: center;
  font-size: 14px;
  color: #616161;
  margin-bottom: 0;
}
.lee-wy .lee-wy-top .lee-wy-top-item .lee-wy-top-item-r p {
  font-size: 20px;
  text-align: center;
  font-weight: bold;
  margin-bottom: 0;
  line-height: 35px;
}
.lee-wy .lee-wy-con {
  clear: both;
}
.lee-wy .lee-wy-con .lee-wy-con-l {
  width: 74.5%;
  display: inline-block;
  margin-right: 1.5%;
  background: #fff;
  overflow: hidden;
  box-shadow: 0 1px 3px rgba(26, 26, 26, 0.1);
  box-sizing: border-box;
  margin-bottom: 20px;
  padding: 15px;
  font-size: 14px;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
}
.lee-wy .lee-wy-con .lee-wy-con-r {
  width: 24%;
  display: inline-block;
  vertical-align: top;
  background: #fff;
  overflow: hidden;
  box-shadow: 0 1px 3px rgba(26, 26, 26, 0.1);
  box-sizing: border-box;
  margin-bottom: 20px;
  padding: 15px;
  font-size: 14px;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  height: 380px;
}
.lee-wy .lee-wy-con .lee-wy-con-r h4 {
  color: #aaa;
  font-size: 16px;
  margin-bottom: 10px;
}
.lee-wy .lee-wy-con .lee-wy-con-r > div {
  width: 100%;
  text-align: center;
  height: 295px;
  padding-top: 50px;
}
.lee-wy .lee-wy-con .lee-wy-con-r > div .ant-progress-circle-path {
  stroke: #6AAAFE;
}
.lee-wy .lee-wy-con .lee-wy-con-r > div .lee-wy-con-r-pro p {
  margin: 0 0 10px 0;
  font-size: 1em;
}
.lee-wy .lee-wy-con .lee-wy-con-r .lee-wy-con-r-title {
  width: 100%;
}
.lee-wy .lee-wy-con .lee-wy-con-r .lee-wy-con-r-title span {
  color: #000;
  display: inline-block;
}
.lee-wy .lee-wy-con .lee-wy-con-r .lee-wy-con-r-title span:first-child {
  width: 60%;
}
.lee-wy .lee-wy-con .lee-wy-con-r .lee-wy-con-r-title span em {
  width: 15px;
  height: 15px;
  background: #67A8FF;
  display: inline-block;
  vertical-align: sub;
  margin-right: 10px;
}
.lee-wy .lee-wy-bot .lee-wy-bot-item {
  width: 49%;
  margin-right: 2%;
  float: left;
  background: #fff;
  overflow: hidden;
  box-shadow: 0 1px 3px rgba(26, 26, 26, 0.1);
  box-sizing: border-box;
  margin-bottom: 20px;
  padding: 15px;
  font-size: 14px;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
}
.lee-wy .lee-wy-bot .lee-wy-bot-item:last-child {
  margin-right: 0;
}
.lee-wy .lee-wy-bot .lee-wy-bot-item h4 {
  color: #aaa;
  font-size: 14px;
  margin-bottom: 10px;
}
.lee-wy .lee-wy-bot .lee-wy-bot-item ul {
  width: 100%;
}
.lee-wy .lee-wy-bot .lee-wy-bot-item ul li {
  width: 100%;
  height: 40px;
  line-height: 40px;
  padding: 0 10px;
}
.lee-wy .lee-wy-bot .lee-wy-bot-item ul li.pending span:last-child {
  color: #67A8FF;
}
.lee-wy .lee-wy-bot .lee-wy-bot-item ul li.active {
  background: #F0F7FF;
}
.lee-wy .lee-wy-bot .lee-wy-bot-item ul li.active span:last-child {
  color: red;
}
.lee-wy .lee-wy-bot .lee-wy-bot-item ul li span {
  display: inline-block;
  width: calc((100% - 160px)/2);
}
.lee-wy .lee-wy-bot .lee-wy-bot-item ul li span:first-child {
  width: 100px;
}
.lee-wy .lee-wy-bot .lee-wy-bot-item ul li span:last-child {
  width: 60px;
}
.lee-hy {
  -moz-column-count: 2;
  -webkit-column-count: 2;
  column-count: 2;
  -moz-column-gap: 1em;
  -webkit-column-gap: 1em;
  column-gap: 1em;
}
.lee-hy .lee-hy-item {
  width: 100%;
  float: left;
  -moz-page-break-inside: avoid;
  -webkit-column-break-inside: avoid;
  break-inside: avoid;
}
.lee-hy .lee-hy-item img {
  width: 100%;
  margin-bottom: 10px;
}
.lee-hy .lee-hy-item .lee-hy-item-card {
  width: 100%;
  margin-bottom: 20px;
  overflow: hidden;
  box-shadow: 0 1px 3px rgba(26, 26, 26, 0.1);
  font-size: 14px;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
}
.lee-hy .lee-hy-item .lee-hy-item-card .lee-hy-item-card-title {
  height: 40px;
  line-height: 40px;
  padding: 0 20px;
  background: #5868d9;
  color: #fff;
  font-size: 14px;
}
.lee-hy .lee-hy-item .lee-hy-item-card .lee-hy-item-card-title span {
  font-size: 14px;
}
.lee-hy .lee-hy-item .lee-hy-item-card .lee-hy-item-card-title .lee-hy-item-card-title-text {
  font-size: 12px;
  margin-left: 10px;
}
.lee-hy .lee-hy-item .lee-hy-item-card .lee-hy-item-card-title .lee-hy-item-card-op-r {
  float: right;
  color: #fff;
  font-size: 14px;
  cursor: pointer;
}
.lee-hy .lee-hy-item .lee-hy-item-card .lee-hy-item-card-title .lee-hy-item-card-op-r i {
  padding-left: 7px;
  font-size: 12px;
}
.lee-hy .lee-hy-item .lee-hy-item-card .lee-hy-item-card-con {
  background: #fff;
  color: #616161;
  font-size: 14px;
}
.lee-hy .lee-hy-item .lee-hy-item-card .lee-hy-item-card-con .lee-hy-item-card-con-text .lee-hy-item-card-con-text-title {
  background: #5868d9;
  background: -webkit-linear-gradient(left, rgba(88, 104, 217, 0.3), #5868d9);
  /* Safari 5.1 - 6.0 */
  background: -o-linear-gradient(right, rgba(88, 104, 217, 0.3), #5868d9);
  /* Opera 11.1 - 12.0 */
  background: -moz-linear-gradient(right, rgba(88, 104, 217, 0.3), #5868d9);
  /* Firefox 3.6 - 15 */
  background: linear-gradient(to right, rgba(88, 104, 217, 0.3), #5868d9);
  /* 标准的语法 */
  color: #fff;
  padding: 20px;
}
.lee-hy .lee-hy-item .lee-hy-item-card .lee-hy-item-card-con .lee-hy-item-card-con-text .lee-hy-item-card-con-text-title > span {
  width: 30px;
  font-size: 18px;
  display: inline-block;
}
.lee-hy .lee-hy-item .lee-hy-item-card .lee-hy-item-card-con .lee-hy-item-card-con-text .lee-hy-item-card-con-text-title > div {
  display: inline-block;
  width: calc(100% - 30px);
  vertical-align: text-top;
}
.lee-hy .lee-hy-item .lee-hy-item-card .lee-hy-item-card-con .lee-hy-item-card-con-text .lee-hy-item-card-con-text-title > div p {
  margin-bottom: 3px;
}
.lee-hy .lee-hy-item .lee-hy-item-card .lee-hy-item-card-con .lee-hy-item-card-con-text .lee-hy-item-card-con-text-title > div p .anticon {
  margin-right: 10px;
}
.lee-hy .lee-hy-item .lee-hy-item-card .lee-hy-item-card-con .lee-hy-item-card-con-text .lee-hy-item-card-con-text-title > div p span {
  margin-left: 20px;
}
.lee-hy .lee-hy-item .lee-hy-item-card .lee-hy-item-card-con .lee-hy-item-card-con-text .lee-hy-item-card-con-text-li {
  padding: 10px 20px;
}
.lee-hy .lee-hy-item .lee-hy-item-card .lee-hy-item-card-con .lee-hy-item-card-con-text .lee-hy-item-card-con-text-li .anticon {
  margin-right: 15px;
}
.lee-hy .lee-hy-item .lee-hy-item-card .lee-hy-item-card-con .lee-hy-item-input {
  padding-bottom: 20px;
}
.lee-hy .lee-hy-item .lee-hy-item-card .lee-hy-item-card-con .lee-hy-item-input .lee-hy-form .ant-form-item {
  margin-bottom: 10px;
}
.lee-intro .intro-c1 {
  background: #84D991;
}
.lee-intro .intro-ch1 {
  background: #DFF0E1;
}
.lee-intro .intro-c2 {
  background: #58BBEE;
}
.lee-intro .intro-ch2 {
  background: #E3F4FC;
}
.lee-intro .intro-c3 {
  background: #FFD8AC;
}
.lee-intro .intro-ch3 {
  background: #FEF5EB;
}
.lee-intro .intro-c4 {
  background: #80D7D9;
}
.lee-intro .intro-ch4 {
  background: #D7F1F2;
}
.lee-intro .lee-intro-con {
  height: 235px;
}
.lee-intro .lee-intro-con .lee-intro-con-l {
  width: 70%;
  background: #fff;
  overflow: hidden;
  box-shadow: 0 1px 3px rgba(26, 26, 26, 0.1);
  box-sizing: border-box;
  margin-bottom: 20px;
  padding: 15px;
  font-size: 14px;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  float: left;
}
.lee-intro .lee-intro-con .lee-intro-con-l .lee-intro-con-l-t img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  display: inline-block;
  vertical-align: top;
}
.lee-intro .lee-intro-con .lee-intro-con-l .lee-intro-con-l-t .lee-intro-con-l-msg {
  display: inline-block;
  padding-left: 30px;
  color: #aaa;
}
.lee-intro .lee-intro-con .lee-intro-con-l .lee-intro-con-l-t .lee-intro-con-l-msg h4 {
  font-size: 20px;
  margin-bottom: 0;
}
.lee-intro .lee-intro-con .lee-intro-con-l .lee-intro-con-l-t .lee-intro-con-l-msg h4 .anticon {
  margin-left: 8px;
  color: #EB2F96;
}
.lee-intro .lee-intro-con .lee-intro-con-l .lee-intro-con-l-t .lee-intro-con-l-msg p {
  font-size: 14px;
  margin-bottom: 0;
  line-height: 25px;
}
.lee-intro .lee-intro-con .lee-intro-con-l .lee-intro-con-l-t .lee-intro-con-l-msg p .anticon {
  margin-right: 8px;
}
.lee-intro .lee-intro-con .lee-intro-con-l .lee-intro-con-l-b {
  width: 100%;
  margin-top: 20px;
}
.lee-intro .lee-intro-con .lee-intro-con-l .lee-intro-con-l-b div {
  width: 20%;
  float: left;
  padding: 10px 0;
}
.lee-intro .lee-intro-con .lee-intro-con-l .lee-intro-con-l-b div p {
  text-align: center;
  font-size: 16px;
  line-height: 30px;
  margin-bottom: 0;
}
.lee-intro .lee-intro-con .lee-intro-con-l .lee-intro-con-l-b div p:first-child {
  font-size: 25px;
}
.lee-intro .lee-intro-con .lee-intro-con-l .lee-intro-con-l-b div:first-child {
  background: #58BBEE;
}
.lee-intro .lee-intro-con .lee-intro-con-l .lee-intro-con-l-b div:nth-child(2) {
  background: #75C181;
}
.lee-intro .lee-intro-con .lee-intro-con-l .lee-intro-con-l-b div:nth-child(3) {
  background: #F77B6B;
}
.lee-intro .lee-intro-con .lee-intro-con-l .lee-intro-con-l-b div:nth-child(4) {
  background: #F8A13F;
}
.lee-intro .lee-intro-con .lee-intro-con-l .lee-intro-con-l-b div:last-child {
  background: #8A40A7;
}
.lee-intro .lee-intro-con .lee-intro-con-r {
  background: #fff;
  overflow: hidden;
  box-shadow: 0 1px 3px rgba(26, 26, 26, 0.1);
  box-sizing: border-box;
  margin-bottom: 20px;
  padding: 15px;
  font-size: 14px;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  width: 28%;
  height: 235px;
  float: right;
  color: #000;
}
.lee-intro .lee-intro-bot {
  position: relative;
  width: 100%;
  height: 450px;
  margin: 25px 0;
  overflow: hidden;
}
.lee-intro .lee-intro-bot .lee-intro-bot-img {
  width: 100%;
  height: 100%;
  background: #3498db;
}
.lee-intro .lee-intro-bot .lee-intro-bot-img:hover img {
  opacity: 0.6;
  -webkit-transform: scale3d(1, 1, 1);
  transform: scale3d(1, 1, 1);
}
.lee-intro .lee-intro-bot .lee-intro-bot-img:hover figcaption::before {
  left: -100px;
  -webkit-transform: scale3d(1.9, 1.4, 1) rotate3d(0, 0, 1, 45deg) translate3d(0, 100%, 0);
  transform: scale3d(1.9, 1.4, 1) rotate3d(0, 0, 1, 45deg) translate3d(0, 100%, 0);
}
.lee-intro .lee-intro-bot .lee-intro-bot-img:hover h2 {
  opacity: 1;
  -webkit-transition-delay: 0.1s;
  transition-delay: 0.1s;
}
.lee-intro .lee-intro-bot .lee-intro-bot-img img {
  width: 100%;
  height: 104%;
  opacity: 0.95;
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  -webkit-transform: scale3d(1.05, 1.05, 1);
  transform: scale3d(1.05, 1.05, 1);
}
.lee-intro .lee-intro-bot .lee-intro-bot-img figcaption::before {
  position: absolute;
  right: -100%;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.5);
  content: '';
  -webkit-transition: -webkit-transform 0.6s;
  transition: transform 0.6s;
  -webkit-transform: scale3d(1.9, 1.4, 1) rotate3d(0, 0, 1, 45deg) translate3d(0, -100%, 0);
  transform: scale3d(1.9, 1.4, 1) rotate3d(0, 0, 1, 45deg) translate3d(0, -100%, 0);
}
.lee-intro .lee-intro-bot .lee-intro-bot-img figcaption h2 {
  position: absolute;
  left: 0;
  bottom: 0;
  margin: 20px;
  opacity: 0;
  -webkit-transition: opacity 0.35s;
  transition: opacity 0.35s;
}
.lee-intro .lee-intro-bot .lee-intro-bot-img2 {
  width: 100%;
  height: 100%;
}
.lee-intro .lee-intro-bot .lee-intro-bot-img2 img {
  width: 25%;
  height: 100%;
  border-radius: 2px 0 0 2px;
  -webkit-border-radius: 2px 0 0 2px;
  -moz-border-radius: 2px 0 0 2px;
  -ms-border-radius: 2px 0 0 2px;
  -o-border-radius: 2px 0 0 2px;
}
.lee-intro .lee-intro-bot .lee-intro-bot-img2 img:last-child {
  border-radius: 0 2px 2px 0;
  -webkit-border-radius: 0 2px 2px 0;
  -moz-border-radius: 0 2px 2px 0;
  -ms-border-radius: 0 2px 2px 0;
  -o-border-radius: 0 2px 2px 0;
}
.lee-intro .lee-intro-bot .animation {
  width: calc(70% - 60px);
  height: calc(100% - 60px);
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  margin: 30px;
  border: 2px solid #fff;
  -webkit-transition: opacity 1.35s, -webkit-transform 1.35s;
  transition: opacity 1.35s, transform 1.35s;
  box-shadow: 0 0 0 30px rgba(255, 255, 255, 0.2);
}
.lee-intro .lee-intro-bot .lee-intro-bot-img3 {
  width: 100%;
  height: 100%;
}
.lee-intro .lee-intro-bot .lee-intro-bot-img3 figure {
  width: 70%;
  height: 105%;
  display: inline-block;
  vertical-align: top;
}
.lee-intro .lee-intro-bot .lee-intro-bot-img3 figure img {
  width: 100%;
  height: 105%;
  border-radius: 2px 0 0 2px;
  -webkit-border-radius: 2px 0 0 2px;
  -moz-border-radius: 2px 0 0 2px;
  -ms-border-radius: 2px 0 0 2px;
  -o-border-radius: 2px 0 0 2px;
}
.lee-intro .lee-intro-bot .lee-intro-bot-img3 figure figcaption {
  width: calc(70% - 60px);
  height: calc(100% - 60px);
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  margin: 30px;
  border: 2px solid #fff;
  -webkit-transition: opacity 1.35s, -webkit-transform 1.35s;
  transition: opacity 1.35s, transform 1.35s;
  box-shadow: 0 0 0 30px rgba(255, 255, 255, 0.2);
}
.lee-intro .lee-intro-bot .lee-intro-bot-img3 figure figcaption h2 {
  text-align: center;
  margin-top: 100px;
  font-size: 28px;
  font-weight: normal;
}
.lee-intro .lee-intro-bot .lee-intro-bot-img3 figure figcaption p {
  padding: 20px;
  width: 50%;
  margin: 0 auto;
  text-align: center;
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 1.35s, transform 1.35s;
  -webkit-transform: scale(1.5);
  transform: scale(1.5);
  opacity: 0;
}
.lee-intro .lee-intro-bot .lee-intro-bot-img3 figure:hover img {
  width: 150%;
  height: 100%;
  opacity: 0.6;
}
.lee-intro .lee-intro-bot .lee-intro-bot-img3 figure:hover figcaption {
  width: calc(70% - 60px);
  height: calc(100% - 60px);
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  margin: 30px;
  border: 2px solid #fff;
  -webkit-transition: opacity 1.35s, -webkit-transform 1.35s;
  transition: opacity 1.35s, transform 1.35s;
  box-shadow: 0 0 0 30px rgba(255, 255, 255, 0.2);
  opacity: 1;
}
.lee-intro .lee-intro-bot .lee-intro-bot-img3 figure:hover figcaption p {
  opacity: 1;
  -webkit-transform: scale3d(1, 1, 1);
  transform: scale3d(1, 1, 1);
}
.lee-intro .lee-intro-bot .lee-intro-bot-img3 img {
  border-radius: 0 2px 2px 0;
  -webkit-border-radius: 0 2px 2px 0;
  -moz-border-radius: 0 2px 2px 0;
  -ms-border-radius: 0 2px 2px 0;
  -o-border-radius: 0 2px 2px 0;
  width: 30%;
}
.lee-intro .lee-intro-bot .lee-intro-bot-opera {
  position: absolute;
  right: 10px;
  top: 10px;
  z-index: 99;
}
.lee-intro .lee-intro-bot .lee-intro-bot-opera span {
  display: inline-block;
  width: 15px;
  height: 15px;
  cursor: pointer;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  margin-right: 5px;
  background: #F8A13F;
}
.lee-intro .lee-intro-bot .lee-intro-bot-opera span:first-child {
  background: #F77B6B;
}
.lee-intro .lee-intro-bot .lee-intro-bot-opera span:last-child {
  background: #8A40A7;
}
.lee-intro .lee-intro-top {
  height: 80px;
  clear: both;
}
.lee-intro .lee-intro-top .lee-intro-top-item {
  width: calc((100% - 30px)/4);
  height: 80px;
  margin-right: 10px;
  float: left;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
}
.lee-intro .lee-intro-top .lee-intro-top-item:first-child {
  background: #DFF0E1;
}
.lee-intro .lee-intro-top .lee-intro-top-item:first-child .lee-intro-t-l {
  background: #84D991;
}
.lee-intro .lee-intro-top .lee-intro-top-item:first-child .lee-intro-t-r {
  color: #84D991;
}
.lee-intro .lee-intro-top .lee-intro-top-item:nth-child(2) {
  background: #E3F4FC;
}
.lee-intro .lee-intro-top .lee-intro-top-item:nth-child(2) .lee-intro-t-l {
  background: #58BBEE;
}
.lee-intro .lee-intro-top .lee-intro-top-item:nth-child(2) .lee-intro-t-r {
  color: #58BBEE;
}
.lee-intro .lee-intro-top .lee-intro-top-item:nth-child(3) {
  background: #FEF5EB;
}
.lee-intro .lee-intro-top .lee-intro-top-item:nth-child(3) .lee-intro-t-l {
  background: #FFD8AC;
}
.lee-intro .lee-intro-top .lee-intro-top-item:nth-child(3) .lee-intro-t-r {
  color: #FFD8AC;
}
.lee-intro .lee-intro-top .lee-intro-top-item:last-child {
  background: #D7F1F2;
  margin-right: 0;
}
.lee-intro .lee-intro-top .lee-intro-top-item:last-child .lee-intro-t-l {
  background: #80D7D9;
}
.lee-intro .lee-intro-top .lee-intro-top-item:last-child .lee-intro-t-r {
  color: #80D7D9;
}
.lee-intro .lee-intro-top .lee-intro-top-item .lee-intro-t-l {
  width: 80px;
  height: 80px;
  text-align: center;
  display: inline-block;
  vertical-align: top;
  color: #fff;
  border-radius: 3px 0 0 3px;
  -webkit-border-radius: 3px 0 0 3px;
  -moz-border-radius: 3px 0 0 3px;
  -ms-border-radius: 3px 0 0 3px;
  -o-border-radius: 3px 0 0 3px;
}
.lee-intro .lee-intro-top .lee-intro-top-item .lee-intro-t-l .anticon {
  font-size: 55px;
  line-height: 80px;
}
.lee-intro .lee-intro-top .lee-intro-top-item .lee-intro-t-r {
  display: inline-block;
}
.lee-intro .lee-intro-top .lee-intro-top-item .lee-intro-t-r div {
  font-size: 16px;
  padding-left: 20px;
}
.lee-intro .lee-intro-top .lee-intro-top-item .lee-intro-t-r div:first-child {
  font-size: 26px;
  margin-top: 5px;
}
