.text-overflow {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
/*.app{
  width: 100%;
  height: 100%;
  overflow: hidden;
  .app-all{
    width: 100%;
    height: 100%;
    .top {
      width: 100%;
      height: 55px;
      line-height: 55px;
      background: #FFFFFF;
      color: @color_1;
      position: fixed;
      top: 0;
      left: 0;
      border-bottom: 1px solid @borderColor;
      z-index: 999;
      .logo {
        width: 200px;
        float: left;
        display: inline-block;
        img {
          width: 120px;
          height: 41px;
          float: left;
          margin: 7px 0;
          padding-left: 20px;
        }
        .ant-switch{
          cursor: pointer;
          cursor: pointer;
          opacity: 0;
          width: 30px;
          height: 55px;
          float: right;
        }
        i {
          font-size: 18px;
          float: right;
          margin-right: -40px;
          line-height: 55px;
        }
      }
      .menu {
        float: left;
        span {
          margin: 0 10px;
        }
      }
      .setting {
        float: right;
        margin-right: 20px;
        >i {
          margin: 0 20px;
          font-size: 18px;
        }
      }
      .mail {
        .ant-badge {
          i {
            font-size: 20px;
            margin: 0 20px;
          }
          .ant-badge-count {
            min-width: 14px;
            height: 14px;
            line-height: 13px;
            right: 20px;
            top: 0;
            font-size: 12px;
            padding: 0;
            .border-radius(50%);
          }
        }
      }
      .user {
        .ant-badge {
          .ant-avatar {
            width: 38px;
            height: 38px;
            .border-radius(50%);
          }
        }
      }
      .ant-badge {
        .ant-badge-dot {
          top: 6px;
          right: 2px;
        }
      }
    }
    .leftbar {
      width: 200px;
      position: fixed;
      top: 56px;
      height: 100%;;
      .introduce {
        padding: 40px 0 10px;
        width: 200px;
        background: @barColor;
        //border-bottom: 1px solid @borderColor;
        text-align: center;
        img {
          width: 80px;
          height: 80px;
          border: 1px solid @borderColor;
          .border-radius(50%);
        }
        h3 {
          color: @whiteColor;
          padding: 30px 0 0;
        }
      }
      .ant-menu {
        width: 200px !important;
        height: 100%;
        background: @barColor !important;
        .intro {
          span {
            font-size: 17px;
            padding-left: 0 !important;
            padding-right: 5px;
          }
        }
      }
      .ant-menu-inline {
        .ant-menu-submenu-title {
          padding-right: 10px;
          height: 60px;
          line-height: 60px;
          font-size: 17px;
        }
        .ant-menu-item {
          // padding-left: 20px !important;
        }
      }
      .ant-menu.ant-menu-dark {
        .ant-menu-item-selected {
          background: #304047 !important;
          border-right: 4px solid @themsColor;
        }
      }
    }
    .right{
      margin-top: 55px;
      width: calc(~"100% - 200px");
      height: calc(~"100% - 55px");
      margin-left: 200px;
      background: #f0f2f5;
      overflow: hidden;
      .crumb{
        !*background: #fff;
        text-align: left;
        line-height: 40px;
        font-size: 16px;
        padding-left: 15px;
        z-index: 999;*!

        background: #fff;
        position: fixed;
        top: 55px;
        width: 100%;
        height: 40px;
        text-align: left;
        line-height: 40px;
        font-size: 16px;
        padding-left: 15px;
        z-index: 999;
        .ant-breadcrumb-link{
          .anticon{
            font-size: 14px;
          }
        }
      }
      .content{
        width: 100%;
        //height: 100%;
        height: calc(~"100% - 40px");
        margin-top: 40px;
        padding: 16px;
        background: #f0f2f5;
        overflow: auto;
      }
    }
  }
}*/
.fl {
  float: left;
}
.fr {
  float: right;
}
/* 模块公共样式 */
.lee-cards {
  background: #fff;
  overflow: hidden;
  box-shadow: 0 1px 3px rgba(26, 26, 26, 0.1);
  box-sizing: border-box;
  margin-bottom: 20px;
  padding: 15px;
  font-size: 14px;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
}
/* 模块样式 */
/*home*/
.lee-home {
  width: 100%;
  color: #707070;
}
.lee-home .lee-home-card {
  background: #fff;
  overflow: hidden;
  box-shadow: 0 1px 3px rgba(26, 26, 26, 0.1);
  box-sizing: border-box;
  margin-bottom: 20px;
  padding: 15px;
  font-size: 14px;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
}
.lee-home .lee-home-card h4 {
  text-align: left;
  border-left: 4px solid #F86C6B;
  padding-left: 5px;
  margin: 20px 0;
}
.lee-home .lee-home-card .step .ant-steps {
  background: #fff;
}
.lee-home .lee-home-card .lee-home-times {
  background: #fff;
}
.lee-home .lee-home-card .lee-home-times .ant-timeline-item-content {
  text-align: left;
}
.lee-home .lee-home-card .lee-home-tabs {
  background: #fff;
  text-align: left;
  font-size: 14px;
}
.lee-home .lee-home-card .lee-home-tabs .lee-home-tab-title {
  color: #87d068;
  font-weight: bold;
  margin-right: 5px;
  width: 50px;
  display: inline-block;
}
.lee-home .lee-home-card .lee-home-tabs .lee-home-tab-r {
  display: inline-block;
}
.lee-home .lee-home-card .lee-home-tabs .lee-home-tab-r .ant-tag-purple {
  margin: 10px 5px;
}
.lee-home .lee-home-card table {
  width: 100%;
  border-collapse: collapse;
  background: #fff;
}
.lee-home .lee-home-card table tr th {
  background: #5868d9;
  height: 50px;
  line-height: 50px;
  padding-left: 10px;
  color: #fff;
}
.lee-home .lee-home-card table tr td {
  height: 50px;
  line-height: 50px;
  border-bottom: 1px solid #D9D9D9;
  padding-left: 10px;
}
.lee-home .lee-home-card table tr td .progress {
  width: 75%;
}
.lee-home .lee-home-card table tr td img {
  width: 40px;
  height: 40px;
  border: 1px solid #E9E9E9;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
/*picture and music*/
.lee-image {
  -moz-column-count: 3;
  -webkit-column-count: 3;
  column-count: 3;
  -moz-column-gap: 1em;
  -webkit-column-gap: 1em;
  column-gap: 1em;
}
.lee-image .lee-image-item {
  padding: 1em;
  margin: 0 0 1em 0;
  -moz-page-break-inside: avoid;
  -webkit-column-break-inside: avoid;
  break-inside: avoid;
  border: 1px solid #000;
  background: #fff;
  overflow: hidden;
  box-shadow: 0 1px 3px rgba(26, 26, 26, 0.1);
  box-sizing: border-box;
  margin-bottom: 20px;
  padding: 15px;
  font-size: 14px;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
}
.lee-image .lee-image-item img {
  width: 100%;
}
.lee-image .lee-image-item h4 {
  font-size: 18px;
  color: #aaa;
  margin-top: 8px;
}
.lee-image .lee-image-item p {
  font-size: 14px;
  color: #000;
}
.lee-image .lee-image-item .lee-music {
  color: #5868d9;
}
.lee-image .lee-image-item .lee-music .lee-music-audio {
  width: 100%;
  margin-bottom: 10px;
}
.lee-image .lee-image-item .lee-music > div .anticon {
  width: 50px;
  text-align: left;
  font-size: 25px;
  cursor: pointer;
}
.lee-image .lee-image-item .lee-music .lee-music-l {
  width: 150px;
  float: left;
}
.lee-image .lee-image-item .lee-music .lee-music-l .prev-no,
.lee-image .lee-image-item .lee-music .lee-music-l .next-no {
  pointer-events: none;
  cursor: default;
  opacity: 0.6;
}
.lee-image .lee-image-item .lee-music .lee-music-r {
  width: 50px;
  float: right;
  color: #EB2F96;
}
.lee-image .lee-image-item .lee-music .lee-music-r .anticon {
  text-align: right;
}
/*bottom music bar*/
.lee-music-bar {
  width: 100%;
  height: 80px;
  overflow: hidden;
  background: #fff;
  border-top: 1px solid #D9D9D9;
  position: absolute;
  bottom: 0;
  right: 0;
}
.lee-music-bar .lee-image-item {
  width: 100%;
  height: 80px;
}
.lee-music-bar .lee-image-item img {
  width: 80px;
  height: 80px;
  float: left;
  margin-right: 20px;
}
.lee-music-bar .lee-image-item .lee-music {
  width: calc(100% - 100px);
  height: 80px;
  float: left;
  color: #5868d9;
}
.lee-music-bar .lee-image-item .lee-music .lee-music-audio {
  width: 100%;
  margin-bottom: 10px;
}
.lee-music-bar .lee-image-item .lee-music .lee-music-l {
  width: auto;
  float: left;
}
.lee-music-bar .lee-image-item .lee-music .lee-music-l .lee-music-l-top h4 {
  font-size: 14px;
  color: #000;
  margin-top: 8px;
}
.lee-music-bar .lee-image-item .lee-music .lee-music-l .lee-music-l-bot .anticon {
  width: 35px;
  height: 35px;
  line-height: 35px;
  background: #5868d9;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  text-align: center;
  font-size: 20px;
  cursor: pointer;
  color: #fff;
  margin-right: 15px;
}
.lee-music-bar .lee-image-item .lee-music .lee-music-l .lee-music-l-bot .prev-no,
.lee-music-bar .lee-image-item .lee-music .lee-music-l .lee-music-l-bot .next-no {
  pointer-events: none;
  cursor: default;
  opacity: 0.6;
}
.lee-music-bar .lee-image-item .lee-music .lee-music-r {
  width: 50px;
  float: right;
  line-height: 80px;
  color: #EB2F96;
}
.lee-music-bar .lee-image-item .lee-music .lee-music-r .anticon {
  width: 50px;
  text-align: center;
  font-size: 25px;
  cursor: pointer;
}
/*player list*/
.lee-player .lee-player-item {
  height: 40px;
  line-height: 40px;
  background: #FAFAFA;
  color: #666666;
}
.lee-player .lee-player-item:nth-child(2n) {
  background: #F5F5F7;
}
.lee-player .lee-player-item .lee-player-item-music {
  padding: 0 15px;
  cursor: pointer;
}
.lee-player .lee-player-item .lee-player-item-music.active {
  background: #E3E3E5;
}
.lee-player .lee-player-item .lee-player-item-music .lee-music-audio {
  width: 100%;
}
.lee-player .lee-player-item .lee-player-item-music span {
  display: inline-block;
}
.lee-player .lee-player-item .lee-player-item-music .lee-player-item-operation {
  width: 60px;
}
.lee-player .lee-player-item .lee-player-item-music .lee-player-item-num {
  width: 30px;
}
.lee-player .lee-player-item .lee-player-item-music .lee-player-item-heart {
  width: 30px;
  text-align: left;
  color: #cd2929;
}
.lee-player .lee-player-item .lee-player-item-music .lee-player-item-title {
  width: calc(100% - 260px);
  color: #000;
}
.lee-player .lee-player-item .lee-player-item-music .lee-player-item-singer {
  width: 150px;
}
.lee-player .lee-player-item .lee-player-item-music .lee-player-item-time {
  width: 50px;
}
.lee-player .lee-player-item .lee-player-item-music-t {
  background: rgba(42, 50, 89, 0.7);
  color: #fff;
}
.lee-player .lee-player-item .lee-player-item-music-t .lee-player-item-title {
  color: #fff !important;
}
/*lee-echat*/
.lee-echat {
  width: 100%;
}
.lee-echat ul li {
  width: calc(50% - 8px);
  float: left;
  margin-right: 8px;
  background: #fff;
  overflow: hidden;
  box-shadow: 0 1px 3px rgba(26, 26, 26, 0.1);
  box-sizing: border-box;
  margin-bottom: 20px;
  padding: 15px;
  font-size: 14px;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
}
.lee-echat ul li:nth-child(2n) {
  margin-left: 8px;
  margin-right: 0;
}
.lee-echat ul li .lee-hy-item-card h3 {
  margin-bottom: 0;
}
.lee-echat ul li .lee-hy-item-card .lee-hy-item-card-con {
  padding: 20px;
}
/*lee-leave*/
.lee-leave {
  width: 100%;
  height: 100%;
  background: #fff;
  overflow: hidden;
  border-radius: 2px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
}
.lee-leave .lee-leave-l {
  width: 250px;
  height: 100%;
  display: inline-block;
  padding: 10px;
  border-right: 1px solid #ECEFF1;
}
.lee-leave .lee-leave-l input {
  width: 230px;
}
.lee-leave .lee-leave-l ul li {
  border-bottom: 1px solid #ECEFF1;
  text-align: left;
  padding-left: 10px;
}
.lee-leave .lee-leave-l ul li h3 {
  margin: 10px 0;
}
.lee-leave .lee-leave-l ul li p {
  font-size: 12px;
  color: #5868d9;
}
.lee-leave .lee-leave-r {
  width: calc(100% - 250px);
  display: inline-block;
  padding: 10px;
  vertical-align: top;
  /*lee-leave*/
}
.lee-leave .lee-leave-r .lee-leave-edit input[type=checkbox] {
  border: none;
  -webkit-appearance: none;
  vertical-align: text-bottom;
  width: 20px;
  height: 20px;
  background-image: url(./images/check.png);
  background-size: 100% 100%;
}
.lee-leave .lee-leave-r .lee-leave-edit input[type=checkbox]:checked:before {
  content: " ";
  position: absolute;
  width: 20px;
  height: 20px;
  background-image: url(./images/checked.png);
  background-size: 100% 100%;
}
.lee-leave .lee-leave-r .lee-leave-edit .lee-leave-header {
  background: #fff;
  padding: 10px 10px 20px;
}
.lee-leave .lee-leave-r .lee-leave-edit .lee-leave-main {
  text-align: left;
  background: #fff;
  padding: 15px;
}
.lee-leave .lee-leave-r .lee-leave-edit .lee-leave-main .ant-timeline-item-content div {
  display: inline-block;
}
.lee-leave .lee-leave-r .lee-leave-edit .lee-leave-main .ant-timeline-item-content span {
  margin-left: 10px;
}
.lee-leave .lee-leave-r .lee-leave-edit .lee-leave-main .ant-timeline-item-content .title {
  font-size: 15px;
  font-weight: bold;
}
.lee-leave .lee-leave-r .lee-leave-edit .lee-leave-main .ant-timeline-item-content .date {
  margin-left: 30px;
  color: #000;
}
.lee-leave .lee-leave-r .lee-leave-edit .lee-leave-main .ant-timeline-item-content img {
  position: absolute;
  right: 0;
  top: -10px;
}
.lee-leave .lee-leave-r .lee-leave-edit .lee-leave-main .ant-timeline-item-content .ant-btn {
  background: #f77e1c;
  border-color: #f77e1c;
  position: absolute;
  right: 45px;
  top: 0;
  width: 20px;
  height: 20px;
  line-height: 20px;
}
.lee-leave .lee-leave-r .lee-leave-edit .lee-leave-main .ant-timeline-item-content p {
  margin-left: 20px;
  margin-top: 10px;
  min-height: 60px;
  padding: 5px 10px;
  background: rgba(236, 246, 253, 0.5);
}
.lee-leave .lee-leave-r .lee-leave-edit .lee-leave-footer {
  background: #fff;
  text-align: left;
  padding: 10px 10px 20px 10px;
  position: relative;
}
.lee-leave .lee-leave-r .lee-leave-edit .lee-leave-footer > span {
  margin: 0 10px;
  color: #000;
}
.lee-leave .lee-leave-r .lee-leave-edit .lee-leave-footer .ant-btn {
  color: #0891ff;
  background-color: #fff;
  border-color: #0891ff;
  padding: 0 5px;
  position: absolute;
  right: 10px;
  top: 5px;
}
/*lee Tenement*/
.lee-wy {
  color: #707070;
}
.lee-wy .lee-wy-top .wy-color {
  color: #67A8FF;
}
.lee-wy .lee-wy-top .wy-color2 {
  color: #0FB7CF;
}
.lee-wy .lee-wy-top .wy-color3 {
  color: #FEB50C;
}
.lee-wy .lee-wy-top .wy-color4 {
  color: #FF0203;
}
.lee-wy .lee-wy-top .lee-wy-top-item {
  background: #fff;
  overflow: hidden;
  box-shadow: 0 1px 3px rgba(26, 26, 26, 0.1);
  box-sizing: border-box;
  margin-bottom: 20px;
  padding: 15px;
  font-size: 14px;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  width: 24%;
  float: left;
  margin-right: 1.33333%;
  padding: 25px 50px;
}
.lee-wy .lee-wy-top .lee-wy-top-item:last-child {
  margin-right: 0;
}
.lee-wy .lee-wy-top .lee-wy-top-item .lee-wy-top-item-l {
  padding: 6px 0 0;
}
.lee-wy .lee-wy-top .lee-wy-top-item .lee-wy-top-item-l .anticon {
  font-size: 40px;
  font-weight: normal;
}
.lee-wy .lee-wy-top .lee-wy-top-item .lee-wy-top-item-r h3 {
  text-align: center;
  font-size: 14px;
  color: #616161;
  margin-bottom: 0;
}
.lee-wy .lee-wy-top .lee-wy-top-item .lee-wy-top-item-r p {
  font-size: 20px;
  text-align: center;
  font-weight: bold;
  margin-bottom: 0;
  line-height: 35px;
}
.lee-wy .lee-wy-con {
  clear: both;
}
.lee-wy .lee-wy-con .lee-wy-con-l {
  width: 74.5%;
  display: inline-block;
  margin-right: 1.5%;
  background: #fff;
  overflow: hidden;
  box-shadow: 0 1px 3px rgba(26, 26, 26, 0.1);
  box-sizing: border-box;
  margin-bottom: 20px;
  padding: 15px;
  font-size: 14px;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
}
.lee-wy .lee-wy-con .lee-wy-con-r {
  width: 24%;
  display: inline-block;
  vertical-align: top;
  background: #fff;
  overflow: hidden;
  box-shadow: 0 1px 3px rgba(26, 26, 26, 0.1);
  box-sizing: border-box;
  margin-bottom: 20px;
  padding: 15px;
  font-size: 14px;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  height: 380px;
}
.lee-wy .lee-wy-con .lee-wy-con-r h4 {
  color: #aaa;
  font-size: 16px;
  margin-bottom: 10px;
}
.lee-wy .lee-wy-con .lee-wy-con-r > div {
  width: 100%;
  text-align: center;
  height: 295px;
  padding-top: 50px;
}
.lee-wy .lee-wy-con .lee-wy-con-r > div .ant-progress-circle-path {
  stroke: #6AAAFE;
}
.lee-wy .lee-wy-con .lee-wy-con-r > div .lee-wy-con-r-pro p {
  margin: 0 0 10px 0;
  font-size: 1em;
}
.lee-wy .lee-wy-con .lee-wy-con-r .lee-wy-con-r-title {
  width: 100%;
}
.lee-wy .lee-wy-con .lee-wy-con-r .lee-wy-con-r-title span {
  color: #000;
  display: inline-block;
}
.lee-wy .lee-wy-con .lee-wy-con-r .lee-wy-con-r-title span:first-child {
  width: 60%;
}
.lee-wy .lee-wy-con .lee-wy-con-r .lee-wy-con-r-title span em {
  width: 15px;
  height: 15px;
  background: #67A8FF;
  display: inline-block;
  vertical-align: sub;
  margin-right: 10px;
}
.lee-wy .lee-wy-bot .lee-wy-bot-item {
  width: 49%;
  margin-right: 2%;
  float: left;
  background: #fff;
  overflow: hidden;
  box-shadow: 0 1px 3px rgba(26, 26, 26, 0.1);
  box-sizing: border-box;
  margin-bottom: 20px;
  padding: 15px;
  font-size: 14px;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
}
.lee-wy .lee-wy-bot .lee-wy-bot-item:last-child {
  margin-right: 0;
}
.lee-wy .lee-wy-bot .lee-wy-bot-item h4 {
  color: #aaa;
  font-size: 14px;
  margin-bottom: 10px;
}
.lee-wy .lee-wy-bot .lee-wy-bot-item ul {
  width: 100%;
}
.lee-wy .lee-wy-bot .lee-wy-bot-item ul li {
  width: 100%;
  height: 40px;
  line-height: 40px;
  padding: 0 10px;
}
.lee-wy .lee-wy-bot .lee-wy-bot-item ul li.pending span:last-child {
  color: #67A8FF;
}
.lee-wy .lee-wy-bot .lee-wy-bot-item ul li.active {
  background: #F0F7FF;
}
.lee-wy .lee-wy-bot .lee-wy-bot-item ul li.active span:last-child {
  color: red;
}
.lee-wy .lee-wy-bot .lee-wy-bot-item ul li span {
  display: inline-block;
  width: calc((100% - 160px)/2);
}
.lee-wy .lee-wy-bot .lee-wy-bot-item ul li span:first-child {
  width: 100px;
}
.lee-wy .lee-wy-bot .lee-wy-bot-item ul li span:last-child {
  width: 60px;
}
.lee-hy {
  -moz-column-count: 2;
  -webkit-column-count: 2;
  column-count: 2;
  -moz-column-gap: 1em;
  -webkit-column-gap: 1em;
  column-gap: 1em;
}
.lee-hy .lee-hy-item {
  width: 100%;
  float: left;
  -moz-page-break-inside: avoid;
  -webkit-column-break-inside: avoid;
  break-inside: avoid;
}
.lee-hy .lee-hy-item img {
  width: 100%;
  margin-bottom: 10px;
}
.lee-hy .lee-hy-item .lee-hy-item-card {
  width: 100%;
  margin-bottom: 20px;
  overflow: hidden;
  box-shadow: 0 1px 3px rgba(26, 26, 26, 0.1);
  font-size: 14px;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
}
.lee-hy .lee-hy-item .lee-hy-item-card .lee-hy-item-card-title {
  height: 40px;
  line-height: 40px;
  padding: 0 20px;
  background: #5868d9;
  color: #fff;
  font-size: 14px;
}
.lee-hy .lee-hy-item .lee-hy-item-card .lee-hy-item-card-title span {
  font-size: 14px;
}
.lee-hy .lee-hy-item .lee-hy-item-card .lee-hy-item-card-title .lee-hy-item-card-title-text {
  font-size: 12px;
  margin-left: 10px;
}
.lee-hy .lee-hy-item .lee-hy-item-card .lee-hy-item-card-title .lee-hy-item-card-op-r {
  float: right;
  color: #fff;
  font-size: 14px;
  cursor: pointer;
}
.lee-hy .lee-hy-item .lee-hy-item-card .lee-hy-item-card-title .lee-hy-item-card-op-r i {
  padding-left: 7px;
  font-size: 12px;
}
.lee-hy .lee-hy-item .lee-hy-item-card .lee-hy-item-card-con {
  background: #fff;
  color: #616161;
  font-size: 14px;
}
.lee-hy .lee-hy-item .lee-hy-item-card .lee-hy-item-card-con .lee-hy-item-card-con-text .lee-hy-item-card-con-text-title {
  background: #5868d9;
  background: -webkit-linear-gradient(left, rgba(88, 104, 217, 0.3), #5868d9);
  /* Safari 5.1 - 6.0 */
  background: -o-linear-gradient(right, rgba(88, 104, 217, 0.3), #5868d9);
  /* Opera 11.1 - 12.0 */
  background: -moz-linear-gradient(right, rgba(88, 104, 217, 0.3), #5868d9);
  /* Firefox 3.6 - 15 */
  background: linear-gradient(to right, rgba(88, 104, 217, 0.3), #5868d9);
  /* 标准的语法 */
  color: #fff;
  padding: 20px;
}
.lee-hy .lee-hy-item .lee-hy-item-card .lee-hy-item-card-con .lee-hy-item-card-con-text .lee-hy-item-card-con-text-title > span {
  width: 30px;
  font-size: 18px;
  display: inline-block;
}
.lee-hy .lee-hy-item .lee-hy-item-card .lee-hy-item-card-con .lee-hy-item-card-con-text .lee-hy-item-card-con-text-title > div {
  display: inline-block;
  width: calc(100% - 30px);
  vertical-align: text-top;
}
.lee-hy .lee-hy-item .lee-hy-item-card .lee-hy-item-card-con .lee-hy-item-card-con-text .lee-hy-item-card-con-text-title > div p {
  margin-bottom: 3px;
}
.lee-hy .lee-hy-item .lee-hy-item-card .lee-hy-item-card-con .lee-hy-item-card-con-text .lee-hy-item-card-con-text-title > div p .anticon {
  margin-right: 10px;
}
.lee-hy .lee-hy-item .lee-hy-item-card .lee-hy-item-card-con .lee-hy-item-card-con-text .lee-hy-item-card-con-text-title > div p span {
  margin-left: 20px;
}
.lee-hy .lee-hy-item .lee-hy-item-card .lee-hy-item-card-con .lee-hy-item-card-con-text .lee-hy-item-card-con-text-li {
  padding: 10px 20px;
}
.lee-hy .lee-hy-item .lee-hy-item-card .lee-hy-item-card-con .lee-hy-item-card-con-text .lee-hy-item-card-con-text-li .anticon {
  margin-right: 15px;
}
.lee-hy .lee-hy-item .lee-hy-item-card .lee-hy-item-card-con .lee-hy-item-input {
  padding-bottom: 20px;
}
.lee-hy .lee-hy-item .lee-hy-item-card .lee-hy-item-card-con .lee-hy-item-input .lee-hy-form .ant-form-item {
  margin-bottom: 10px;
}
