.text-overflow {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
/*top bar user bg*/
/*li active*/
/*start*/
/*.lee-card{
  margin-bottom: 20px;
  overflow: hidden;
  box-shadow: 0 1px 3px rgba(26,26,26,.1);
  box-sizing: border-box;
  font-size: @fontSize;
  .border-radius(4px);
  .lee-card-title{
    height: 40px;
    line-height: 40px;
    padding: 0 20px;
    background: @themsColor;
    color: @fontColor;
    font-size: 14px;
    span{
      font-size: @fontSize;
    }
    .lee-card-title-text{
      font-size: 12px;
      margin-left: 10px;
    }
    .lee-card-op-r{
      float: right;
      color: @color;
      font-size: 14px;
      cursor: pointer;
      i{
        padding-left: 7px;
        font-size: 12px;
      }
    }
  }
  .lee-card-con{
    background: @color;
    color: @fontColor2;
    font-size: 14px;
    .lee-card-con-text{
      .lee-card-con-text-title{
        background: @themsColor;
        background: -webkit-linear-gradient(left,rgba(@themsColor,.3), rgba(@themsColor,1)); !* Safari 5.1 - 6.0 *!
        background: -o-linear-gradient(right,rgba(@themsColor,.3), rgba(@themsColor,1)); !* Opera 11.1 - 12.0 *!
        background: -moz-linear-gradient(right, rgba(@themsColor,.3), rgba(@themsColor,1)); !* Firefox 3.6 - 15 *!
        background: linear-gradient(to right, rgba(@themsColor,.3), rgba(@themsColor,1)); !* 标准的语法 *!
        color: @color;
        padding: 20px;
        &>span{
          width: 30px;
          font-size: 18px;
          display: inline-block;
        }
        &>div{
          display: inline-block;
          width: calc(100% - 30px);
          vertical-align: text-top;
          p{
            margin-bottom: 3px;
          }
        }
      }
      .lee-card-con-text-li{
        padding: 10px 20px;
        .anticon{
          margin-right: 15px;
        }
      }
    }
  }
}*/
