.text-overflow {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
/*rotate360*/
@-webkit-keyframes spinAround {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
  }
}
@-moz-keyframes spinAround {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
  }
}
@keyframes spinAround {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
  }
}
/*start*/
.login-opera {
  padding-top: 10px;
}
.login-opera .login-in,
.login-opera .login-out {
  padding: 0 10px;
}
.login-opera .login-in .anticon,
.login-opera .login-out .anticon {
  margin-right: 5px;
}
