*{ margin:0; padding:0;}
body{ font-size:14px; font-family:微软雅黑;font-style:normal;}
a{ text-decoration:none}
a,a:hover{  transition:background 0.5s linear;-webkit-transition:background 0.5s linear;-moz-transition:background 0.5s linear;-o-transition:background 0.5s linear;cursor: pointer;}
em, i{font-style: normal;}
ul, ol, li{list-style: none;}
img{ border:none;vertical-align:middle;}
input,select,textarea{outline:none;border:none;background:none;}
textarea{resize:none;}
.fl{float: left;}
.fr{float: right;}
.clear{ clear:both; height:0px; width:100%; overflow:hidden;}

/*top*/
.top{
	width: 100%;
	height: 55px;
	line-height: 55px;
	background: #FFFFFF;
	color: rgba(0, 0, 0, 0.3);
	position: fixed;
	top: 0;
	left: 0;
	border-bottom: 1px solid #cfd8dc;
	z-index: 9999;
}
.top .logo{
	width: 200px;
	float: left;
	display: inline-block;
	margin-left: 20px;
}
.top .logo img{
	height: 30px;
	float: left;
	margin: 10px 0;
}
.top .logo i{
	font-size: 20px;
}

.top .menu{
	float: left;
	margin-left: 20px;
}
.top .menu span{
	margin:0 10px;
	
}
.top .setting{
	float: right;
	margin-right: 20px;
	
}
.top .setting>i{
	margin: 0 20px;
	font-size: 20px;
}
.top .mail .ant-badge i{
	font-size: 20px;
	margin: 0 20px;
}
.top .mail .ant-badge .ant-badge-count{
	min-width: 15px;
	height: 15px;
	line-height: 15px;
	right: 3px;
	padding: 0;
	border-radius: 50%;
	-moz-border-radius: 50%;
	-o-border-radius: 50%;
	-webkit-border-radius: 50%;
}
.top .user .ant-badge .ant-avatar{
	width: 44px;
	height: 44px;
	border-radius: 50%;
	-moz-border-radius: 50%;
	-o-border-radius: 50%;
	-webkit-border-radius: 50%;

}
.top .ant-badge .ant-badge-dot{
	top: 6px;
	right: -4px;
}

/*left*/
.leftbar{
	width: 200px;
	position: fixed;
	top: 56px;
	height: calc(100vh - 55px);
}
.leftbar .introduce{
	padding: 40px 0 10px;
	width: 200px;
	background: #263238;
	border-bottom: 1px solid #cfd8dc;
}
.leftbar .introduce img{
	width: 80px;
	height: 80px;
	border: 1px solid #cfd8dc;
	border-radius: 50%;
	-moz-border-radius: 50%;
	-o-border-radius: 50%;
	-webkit-border-radius: 50%;
}
.leftbar .introduce h3{
	color: #fff;
	padding: 30px 0 0;
}

.leftbar .ant-menu{
	width: 200px !important;
	height: 100%;
	background: #263238 !important;
}
.leftbar .ant-menu-inline .ant-menu-submenu-title {
	padding-left: 0 !important;
	padding-right: 10px;
	height: 60px;
	line-height: 60px;
	font-size: 17px;
}
.leftbar .ant-menu-inline .ant-menu-item{
	padding-left: 20px !important;
}
.leftbar .ant-menu.ant-menu-dark .ant-menu-item-selected{
	background: #304047 !important;
	border-right: 4px solid #20a8d8;
}
.leftbar .ant-menu .intro span{
	font-size: 17px;
	padding-left: 0 !important;
	padding-right: 5px;
	
}

/*bottom*/
.bottom{
	width: calc(100% - 200px);
	margin-left: 200px;
	height: 50px;
	line-height: 50px;
	background: #eceff1;
	border-top: 1px solid #cfd8dc;
	color: #20a8d8;
	position: fixed;
	bottom: 0;
	left: 0;
}
.bottom p{
	text-align: center;
}

/*home*/
.right{
	width:calc(100% - 200px);
	height: calc(150vh - 50px);
	margin-left: 200px;
	background: #f0f2f5;
}
.content{
	width: 100%;
	height: 100%;
	padding: 30px;
	background: #f0f2f5;
}
.content .crumb{
	background: #fff;
	text-align: left;
	line-height: 50px;
	font-size: 16px;
	padding-left: 30px;
    margin: -30px -30px 30px;
	z-index: 9999;
}
.home{
	width: 100%; 
	margin-top: 70px;
	background: #fff;
	padding: 5px 20px;
}
.home table{
	width: 100%;
	border-collapse:collapse;
	background: #fff;
}
.home table tr th{
	background: #CFD8DC;
}
.home table tr th, tr td{
	height: 50px;
	line-height: 50px;
}
.home table tr td{
	border-bottom: 1px solid #cfd8dc;
}
.home table tr td .progress{
	width: 75%;
	margin: 0 auto;
}
.home table tr td img{
	width: 40px;
	height: 40px;
	border: 1px solid #cfd8dc;
	border-radius: 50%;
	-moz-border-radius: 50%;
	-o-border-radius: 50%;
	-webkit-border-radius: 50%;
}

.home h4{
	text-align: left;
	border-left: 4px solid #F86C6B;
	padding-left: 5px;
	margin: 20px 0 ;
}
.home .step .ant-steps{
	background: #fff;
}
.home .times{
	background: #fff;
}
.home .times .ant-timeline-item-content{
	text-align: left;
}
.home .tabs{
	background: #fff;
	text-align: left;
	font-size: 14px;
}
.home .tabs .tab-title{
	color: #87d068;
	font-weight: bold;
	margin-right: 5px;
	width: 50px;
	display: inline-block;
}
.home .tabs .tab-r {
	display: inline-block;
}
.home .tabs .tab-r .ant-tag-purple{
	margin: 10px 5px;
	
}
.echat{
	width: 100%;
	padding-top: 50px;
}
.echat ul li{
	width: calc(50% - 40px);
	margin: 0 20px;
	margin-bottom: 15px;
	float: left;
	background: #fff;
	border: 1px solid #ECEFF1;
}
.echat ul li h3{
	text-align: left;
	font-weight: normal;
	padding:5px 10px;
	line-height: 35px;
	background: #ECEFF1;
	border-bottom: 1px solid #ECEFF1;
}

.note{
	width: 100%;
	height: calc(100% - 110px);
	margin-top: 70px;
	background: #fff;
}

.note .note-l{
	padding: 10px;
	float: left;
	width: 300px;
	height: 100%;
	border-right: 1px solid #ECEFF1;
}
.note .note-l input{
	width: 260px;
	margin-bottom: 20px;
}
.note .note-l ul li{
	border-bottom: 1px solid #ECEFF1;
	text-align: left;
	padding-left: 10px;
}
.note .note-l ul li h3{
	margin: 10px 0;
}
.note .note-l ul li p{
	font-size: 12px;
	color: #20a8d8;
}
.note .note-r{
	padding: 10px;
	float: left;
	width: calc(100% - 200px);
}

.leave{
	text-align: left;
	    background: #fff;
    padding: 15px;
}
.leave span{
	margin-right: 25px;
}
.leave .name{
font-size: 17px;
}
.leave .date{
	color:#20a8d8;
}
.leave .text{
	padding: 10px;
}